<!-- ========== 字体资源 ========== -->
  <!-- Google Fonts -->
  <link href="https://fonts.font.im/css?family=Radley" rel="stylesheet" />

  <!-- 主要字体 -->
  <link rel="stylesheet" href="https://source.vip.cpolar.cn/font/heti/split/FZZzOM/result.css" />
  <link rel="stylesheet" href="https://source.vip.cpolar.cn/font/heti/split/FZFSB/result.css" />
  <link rel="stylesheet" href="https://source.vip.cpolar.cn/font/heti/split/STFANGSO/result.css" />
  <link rel="stylesheet" href="https://source.vip.cpolar.cn/font/heti/split/simfang/result.css" />

  <!-- 备用字体 -->
  <link rel="stylesheet" href="https://source.vip.cpolar.cn/font/heti/split/FOT-TsukuAOldMinPr6/result.css" />

  <!-- 古籍字体 -->
  {% if page.guwen %}
  <link rel="stylesheet" href="https://source.vip.cpolar.cn/font/heti/split/FZKTK/result.css" />
  <link rel="stylesheet" href="https://source.vip.cpolar.cn/font/heti/split/simkai/result.css" />
  <link rel="stylesheet" href="https://source.vip.cpolar.cn/font/heti/split/京華老宋体2/result.css" />
  <link rel="stylesheet" href="https://source.vip.cpolar.cn/font/heti/split/汇文明朝体/result.css" />
  <link rel="stylesheet" href="https://source.vip.cpolar.cn/font/heti/split/STSONG/result.css" />
  <link rel="stylesheet" href="https://source.vip.cpolar.cn/font/heti/split/HYKB/result.css" />
  <link rel="stylesheet" href="https://source.vip.cpolar.cn/font/heti/split/FZJinL-B_GBJF/result.css" />
  <link rel="stylesheet" href="https://source.vip.cpolar.cn/font/heti/split/FZJinL-L_GBJF/result.css" />
  <link rel="stylesheet" href="https://source.vip.cpolar.cn/font/heti/split/simsunb/result.css" />
  <link rel="stylesheet" href="https://source.vip.cpolar.cn/font/heti/PMingLiu/result.css" />
  {% endif %}

  <!-- 条形码字体 -->
  {% if page.code128 %}
  <style>
    @font-face {
      font-family: "code 128";
      src: url(https://source.vip.cpolar.cn/font/code128.woff2);
    }
  </style>
  {% endif %}