@font-face {
    font-family: "FangSong";
    src: url("https://rainsin-1305486451.file.myqcloud.com/rainsin-blog/fonts/%E4%BB%BF%E5%AE%8B%E4%B8%80%E5%B0%8F%E6%AE%B5/%E4%BB%BF%E5%AE%8B_GB2312.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gourmand";
    src: url("https://file.rainsin.cn/d/blog/font/Gourmand-.woff?sign=h6-2SUODfbL4ukPvWwJpRYeaAcIny5bbmvYePpDh6to=:0"),url("https://mypan.hk.cpolar.io/d/blog/font/ManbowLines-Regular.woff?sign=4TvTEtxmA39bE2mKh8uwEkoj3mzCHwZcTnZNZlGajuY=:0");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Zhaomengfou";
    src: url("https://rainsin-1305486451.file.myqcloud.com/rainsin-blog/fonts/%E4%BB%BF%E5%AE%8B%E4%B8%80%E5%B0%8F%E6%AE%B5/FZYiYBLSJW.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Zhaomengfou";
    src: url("https://rainsin-1305486451.file.myqcloud.com/rainsin-blog/fonts/%E4%BB%BF%E5%AE%8B%E4%B8%80%E5%B0%8F%E6%AE%B5/FZYiYBLSJW.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

#access-tags,
#panel-wrapper,
#access-lastmod {
    display: none;
}

#core-wrapper,
#tail-wrapper {
    width: 100%;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.core-wrapper {
    width: 100%;
}

.cpp-icon {
    display: inline-block;
    margin: 0 3px 0 5px;
}

.tech-box {
    display: flex;
    width: 100%;
}

.polt_box_ui {
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
    margin: 1rem 0;
    padding: 1rem 1em;
    border-radius: 12px;
    border: 1px solid rgba(34, 36, 38, .15);
    margin: 20px 0;
    background-color: var(--box-bg);
}


.about-logo-box {
    width: 100%;
    display: flex;
}

.about-logo {
    width: 70%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex: 1;
}

.logo-font {
    display: flex;
    width: 80px;
    font-size: 75px;
    font-family: "ManbowLines-Regular";
    justify-content: center;
    align-content: center;
}

.R-box {
    justify-content: center;
    align-content: center;
}

.about-logo .r {
    color: rgb(253, 148, 53);
}

.about-logo .a {
    color: rgb(50, 199, 237);
}

.about-logo .i {
    color: rgb(25, 183, 23);
}

.about-logo .n {
    color: rgb(228, 43, 52);
}

.about-logo .s {
    color: rgb(120, 38, 208);
}

.about-logo .i2 {
    color: rgb(35, 65, 211);
}

.about-logo .n2 {
    color: rgb(144, 233, 174);
}

.rainsin {
    width: 100%;
    height: auto;
}

.rainsin-info {
    display: flex;

}

.rainsin-indivdual {
    /*background: linear-gradient(120deg, rgba(91, 39, 255,1) 0px, rgba(0, 212, 255,7) 100%) 0% 0% / 200%;*/
    background-image: linear-gradient(to left, #0091ff 0%, #495aff 100%);
    padding: 1rem 2rem;
    box-shadow: var(--Jay-shadow-border);
    border-radius: 12px;
    display: flex;
    flex: 1.25;
}

.rainsin-indivdual-box {
    flex: 1;
    display: flex;
    justify-items: center;
}

.rainsin-hand {
    display: flex;
    flex: .2;
    width: 100%;
    font-size: 4em;
    justify-items: center;
    align-items: center;
}

.rainsin-hand div {
    flex: 1;
}

.rainsin-indivdual-info {
    flex: 1;
    margin: 2px 1px 4px 8px;
    /* font-family: "ManbowLines-Regular", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei"; */
    padding: 10px;
    color: #fff;
}

.rainsin-indivdual-info-first {
    display: inline-block;
    width: 100%;
    opacity: .8;
    font-size: .8em;
    line-height: 1.2;
    margin: 2px 4px;
    font-weight: bold;
}

.rainsin-indivdual-info-second {
    display: inline-block;
    width: 100%;
    font-weight: bolder;
    font-size: 2em;
    line-height: 1.4;
    margin-top: 10px;
}

.rainsin-indivdual-info-second span {
    font-family: "ManbowLines-Regular";
}

.rainsin-indivdual-info-third {
    display: inline-block;
    width: 100%;
    opacity: .8;
    line-height: 1.2;
    font-weight: bold;
    margin-top: 12px;
}

/* .width-change-indivdual{
    width: 53%;
} */
.rainsin-info {
    width: 100%;
    margin: 20px 0;
}

.rainsin-yan {
    display: flex;
    flex: 1;
    width: 100%;
    padding: 30px;
    margin-left: 24px;
    box-shadow: var(--Jay-shadow-border);
    border-radius: 12px;
    background-color: var(--box-bg);
    border: var(--box-border);
}

.age {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
}

.age-class {
    font-size: .6rem;
    /* color: #363636; */
    font-family: var(--main-font);
    font-weight: 700;
}

.age-dig {
    font-size: 3rem;
    font-weight: 600;
    color: #43a6c6;
    line-height: 3.5rem;
}

.age-staff {
    font-size: 2.5rem;
    font-weight: bold;
    color: #c69043;
    line-height: 3.5rem;
}

.rainsin-skill {
    display: flex;
    width: 100%;
    align-content: center;
}

.rainsin-skill .rainsin-skill-box {
    display: flex;
    flex: .6;
    flex-direction: column;
    background-color: var(--box-bg);
    border: var(--box-border);
    border-radius: 12px;
    padding: 30px 0 30px 30px;

}

.rainsin-skill .skill-box .skill-title {
    width: 100%;
}

.rainsin-skill .skill-box .skill-detail {
    display: flex;
    width: 100%;
}

.rainsin-skill .skill-box .skill-detail div {
    display: flex;
    flex: 1;
}

.skill-title {
    font-size: .6rem;
    /* color: #363636; */
    font-family: var(--main-font);
    font-weight: 700;
}


.rainsin-skill .instrument-box {
    display: flex;
    flex: .4;
    flex-direction: column;
    background-color: var(--box-bg);
    border: var(--box-border);
    border-radius: 12px;
    padding: 30px 0 30px 30px;
    margin-right: 20px;
}

.rainsin-skill .instrument .skill-title {
    width: 100%;
}

.rainsin-skill .instrument .skill-detail {
    display: flex;
    width: 100%;
}

.rainsin-skill .instrument .skill-detail div {
    display: flex;
    flex: 1;
}

.rainsin-detail {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.detail-function {
    flex: 1;
}

.detail-ins {
    flex: 1;
    display: flex;
}

.detail-music {
    display: flex;
    position: relative;
    z-index: 1;
    flex: 1;
    background-color: #f4f4f4a1;
    border: var(--box-border);
    border-radius: 12px;
    flex-direction: column;
    padding: 0 30px;
    background-image: url(https://dlink.host/1drv/aHR0cHM6Ly8xZHJ2Lm1zL2kvcyFBb2VyMmNVNVNsT0ZpUGw1X0FKYWxSNjFwcjNQSGc_ZT1SZHVMdGI.webp);
    background-size: cover;
    min-height: 90px;
}

.mask {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #E9AE91 0%, #E9AE91 52%, #A66648 78%, #81492B 100%);
    opacity: .74;
    top: 0;
    left: 0;
    border-radius: 12px;
}

.detail-music .mask {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #E9AE91 0%, #E9AE91 52%, #A66648 78%, #81492B 100%);
    opacity: .74;
    top: 0;
    left: 0;
    border-radius: 12px;
}

.music-title {
    display: flex;
    z-index: 3;
    margin-top: 20px;
    align-content: center;
    font-size: 1rem;
    font-family: var(--main-font);
    color: #fff;
    font-weight: 700;
    margin-bottom: 3rem;
}

.music-detial {
    z-index: 3;
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.music-detial div {
    display: flex;
    align-self: flex-end;
    font-size: 1.3rem;
    font-family: var(--main-font);
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px;
}

.music-detial div span:nth-child(1) {
    color: #68b88e;
}

.music-detial div span:nth-child(2) {
    color: #51c4d3;
}

.detail-sport {
    display: flex;
    flex: 1;
    background-color: #4a9242;
    margin: 10px 0 0 0;
    background-color: #f4f4f4a1;
    border: var(--box-border);
    border-radius: 12px;
    flex-direction: column;
}

.bag-ins {
    background-image: url(https://dlink.host/1drv/aHR0cHM6Ly8xZHJ2Lm1zL2kvcyFBb2VyMmNVNVNsT0ZpUGw2VkN0T0NhTFFKSnlYMUE_ZT1nbHZDcTg.webp);
    background-position-y: -100px;
    margin-left: 8px;
}

.music-fancy {
    margin-right: 8px;
}

.bag-ins .mask2 {
    background-image: linear-gradient(to right, #AD8374 0%, #D9CBC5 100%);
}

.ins-title {
    color: #000;
    font-size: 1.2rem;
    font-family: var(--main-font);
}

.paly-ins {
    background-color: #f4f4f4a1;
    border: 2px solid #e3e8f7;
    border-radius: 12px;
}

.detial-av div span:nth-child(1) {
    color: rgb(213, 12, 27);
}

.detial-av div span:nth-child(2) {
    color: #5a1216;
}

.detial-av div span:nth-child(3) {
    color: #e77c8e;
}

.device-banner {
    width: 100%;
    background-color: #f4f4f4a1;
    border: 2px solid #e3e8f7;
    border-radius: 12px;
}

.actor_box {
    display: flex;
    width: 100%;
    background-color: #f4f4f4a1;
    border: 2px solid #e3e8f7;
    border-radius: 12px;
    padding: 20px;
    flex-direction: column;
}

.actor_av {
    display: flex;
    width: 100%;
}

.actor_av_box {
    flex: 1;
    display: flex;
}

.actor_av_box a {
    flex: 1;
    margin: 2px;
    width: 100%;
    border: var(--box-border);
}

.blog_banner {
    width: 100%;
    border: 2px solid rgba(34, 36, 38, .15);
    border-radius: 12px;

}

.blog_banner img {
    border-radius: 12px;
}

@media screen and (max-width: 1344px) {
    .rainsin-info {
        flex-direction: column;
    }

    .rainsin-skill {
        flex-direction: column;
    }

    .rainsin-skill .instrument-box {
        margin-right: 0;
    }

    .rainsin-yan {
        margin-left: 0;
        margin-top: 24px;
        flex-direction: column;
    }

    .rainsin-yan .age:nth-child(2){
        margin-top: 1.5em;
    }
    
    .rainsin-skill-box {
        margin-top: 24px;
    }

    .rainsin-detail {
        flex-direction: column;
    }

    .detail-ins {
        flex-direction: column;
    }

    .music-fancy {
        margin: 0;
        margin-bottom: 20px;
    }

    .bag-ins {
        margin: 0;
    }

    .device-main-box {
        flex-direction: column;
    }

    .device-main-detail {
        margin-right: 0 !important;
        margin-bottom: 20px;
    }

    .device-main-soft {
        margin-left: 0 !important;
    }
}

.about-site {
    display: flex;
    width: 100%;
    background-color: var(--box-bg);
    border: var(--box-border);
    border-radius: 12px;
    padding: 20px;
    flex-direction: column;
}

.about-site div {
    display: inline;
    flex: 1;
    align-content: center;
    margin: 10px 0;
}

.about-site div span {
    background-image: linear-gradient(to left, #ff4500, orange, gold, #90ee90, #0ff, #1e90ff, #9370db, #ff69b4, #ff4500);
    border: var(--box-border);
    border-radius: 4px;
    line-height: 1rem;
    background-size: 200%;
    margin: 0 4px;
    padding: 0 6px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 5s linear infinite;
    font-family: "Cormorant Garamond",var(--main-font);
    font-style: italic;
    font-weight: 500;
}

.about-site div a {
    background-image: linear-gradient(to left, #ff4500, orange, gold, #90ee90, #0ff, #1e90ff, #9370db, #ff69b4, #ff4500);
    border: var(--box-border);
    border-radius: 4px;
    line-height: 1rem;
    background-size: 200%; 
    margin: 0 4px;
    padding: 0 6px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 5s linear infinite;
    font-family: "Cormorant Garamond",var(--main-font);
    font-style: italic;
    font-weight: 500;
}

@keyframes rainbow {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 200%;
    }
}

.container-device {
    width: 100%;
}

.device-title {
    width: 100%;
}

.device-main-box {
    width: 100%;
    display: flex;
}

.device-main-detail {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 5px 25px 5px 25px;
    background-color: rgb(255, 241, 224);
    opacity: 1;
    transform: translateX(0px) translateY(0px) translateZ(0px);
    transition: opacity 500ms ease-in-out 0s, transform 500ms ease 0s;
    border: var(--box-border);
    border-radius: 12px;
    margin-right: 10px;
    align-content: center;
    box-shadow: 0 6px 18px rgba(0, 0, 0, .1);
}

.device-main-detail-title {
    display: flex;
    margin: 10px 0;
}

.device-main-detail-title div:nth-child(1) {
    flex: 1;
    font-size: 1.3rem;
    font-family: var(--main-font);
    font-weight: bold;
    color: #cc7a23;
}

.device-main-detail-em {
    display: flex;
    margin: 10px 0;
    align-content: center;
}

.device-main-detail-em div:nth-child(1) {
    flex: .3;
    display: flex;
    align-content: center;
    justify-content: center;
}

.device-main-detail-em div:nth-child(2) {
    flex: 1;
    display: flex;
    font-size: 12px;
    font-weight: bold;
    color: rgba(44, 51, 76, .6);
    font-family: var(--main-font);
}

.device-main-detail-title-icon {
    margin-right: 20px;
}

.device-main-soft {
    display: flex;
    flex: 1;
    margin-left: 10px;
    align-content: center;
    padding: 25px;
    background-color: rgb(234, 230, 253);
    opacity: 1;
    transform: translateX(0px) translateY(0px) translateZ(0px);
    transition: opacity 500ms ease-in-out 0s, transform 500ms ease 0s;
    border: var(--box-border);
    border-radius: 12px;
    align-content: center;
    flex-wrap: wrap;
    box-shadow: 0 6px 18px rgba(0, 0, 0, .1);
}

.opencore-box {
    margin-bottom: 6px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.device-main-soft>div:nth-child(1) {
    flex: .2;
}

.device-main-soft>div:nth-child(2) {
    flex: 1;
    margin-left: 10px;
}

.opencore-title {
    font-size: .6rem;
    font-family: var(--main-font);
    color: #000;
    font-weight: bold;
}

.opencore-detail {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.opencore-detail div {
    display: flex;
    flex: 1;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 80px;
}

.opencore-img {
    display: block;
    background-image: url(https://rainsin-1305486451.file.myqcloud.com/rainsin-blog/img/opencore.webp);
    width: 80px;
    height: 80px;
    background-size: cover;
}

.os-box {
    background-color: rgb(233, 250, 249);
    opacity: 1;
    transform: translateX(0px) translateY(0px) translateZ(0px);
    transition: opacity 500ms ease-in-out 0s, transform 500ms ease 0s;
    border: var(--box-border);
    border-radius: 12px;
    margin-top: 6px;
}

.contact {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 30px;
}

.disappear-box {
    display: none;
}

.contact-box {
    width: 75%;

    background-color: #0ff;
}


.av-box {
    width: 100%;
}

.container-av {
    width: 100%;
}

.three-av {
    width: 100%;
    display: flex;
}

.av-item-box {
    display: flex;
    position: relative;
    border: var(--box-border);
    border-radius: 18px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, .1);
    padding: 30px;
    z-index: 1;
}

.three-av .av-item-box {
    width: 100%;
    aspect-ratio: 4/6;
    background-position: center;
    background-size: cover;
}

.Two-av .av-item-box {
    width: 100%;
    aspect-ratio: 10/6;
    background-position: center;
    background-size: cover;
}

.av-mask {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .6;
    border-radius: 18px;
}

.three-av .av-item-box:nth-child(2) {
    margin: 0 3.75px 0 2.5px;
}

.three-av .av-item-box:nth-child(3) {
    margin: 0 2.5px 0 3.75px;
}

.three-av .av-item-box:nth-child(4) {
    margin-left: 5px;
}

.three-av .av-item-box:nth-child(1) {
    margin-right: 5px;
}

.Two-av .av-item-box:nth-child(1) {
    margin: 20px 5px 20px 0;
}

.Two-av .av-item-box:nth-child(2) {
    margin: 20px 0 20px 5px;
}

.Two-av {
    width: 100%;
    display: flex;
}

.av-item-box {
    flex: 1;
    flex-direction: column;
}

.av-title {
    z-index: 3;
    width: 100%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;

}

.three-av>div:nth-child(2) {
    align-self: flex-end;
}

.av-title-name {
    font-size: 1.6rem;
    font-weight: 600;
    align-self: center;
    flex: 1;
}


.av-detial-item {
    display: flex;
    color: #fff;
    margin: 6px 0;
}

.av-detial-item-main {
    font-family: "Ping Fang";
    margin-right: 10px;
    font-weight: 600;
}

.av-detial-item-content {
    font-family: "Gourmand";
    color: #000;
}

.av-detial {
    z-index: 3;
    font-size: .8rem;
}


.av-title-img {
    display: flex;
    justify-content: end;
}

.av-title-img-main {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    border: 2px solid #e3e8f7ff;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.av-mfact-logo {
    z-index: 3;
    position: absolute;
    width: 3.2rem;
    aspect-ratio: 1;
    background-size: cover;
    background-position: center;
}

.av-mfact-logo {
    bottom: 30px;
    right: 40px;
}


#山岸逢花 {
    width: 50%;
    aspect-ratio: 24/5;
    height: auto;
    right: 30px;
    bottom: 56px;
}

.geyan-box {
    position: relative;
    display: flex;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, .8);
    background-image: url("https://rainsin-1305486451.file.myqcloud.com/rainsin-blog/img/cover/%E5%BF%83.webp");
    border-radius: 12px;
    background-position: 0 20%;
    background-size: cover;
    flex-direction: column;
    border: var(--box-border);
    color: #fff;
    z-index: 3;
}

.mask-geyan {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: .5;
    z-index: 4;
    border-radius: 12px;
    border: var(--box-border);
}

.geyan {
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 2rem;
    margin: 12px 0;
    z-index: 5;
}

.author-geyan {
    /* font-family: "FangSong"; */
    font-size: 1rem;
    align-self: end;
    z-index: 5;
}

#geyan-tr {
    /* font-family: "Zhaomengfou"; */
    font-size: 1rem;
    margin: 20px 0;
    transition: all .8s ease-in-out;
}

.geyan-title {
    font-family: "FangSong";
    font-size: 1rem;
    z-index: 5;
}

.geyan-tr-disappear {
    display: none;
}

#playing-box {
    width: 100%;
  margin-bottom: 20px;
}

.playing-item-box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 20px;
}

.palying-item {
    flex: 1;
}

.container-playing {
    width: 100%;
    border-radius: 12px;
    border: 2px solid rgba(34, 36, 38, .15);
    background-color: var(--box-bg);
}

.palying-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    border: 1px solid rgb(175 174 174 / 50%);
    background: var(--box-bg);

}

.palying-item>div {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.palying-item-img {
    padding: 20px;
}

.palying-img {
    width: 90%;
    aspect-ratio: 1;
    background-size: cover;
    background-position: center;
}

.palying-item-name {
    font-family: var(--main-font);
    border-bottom: var(--box-border);
    border-top: var(--box-border);
}

.palying-item-lay {
    color: #ff4500;
}

@media screen and (max-width:1280px) {
    .playing-item-box {
        grid-template-columns: repeat(3,1fr);
    }
  }

  @media screen and (max-width:800px) {
    .playing-item-box {
        grid-template-columns: repeat(2,1fr);
    }
  }

#device-only {
    width: 100%;

}

.sing-device-box {
    width: 100%;
}

.sing-device-box>div {
    display: flex;
    width: 100%;
}

.sing-device-one-box {}

.sing-device {
    display: flex;
    flex: 1;
    border: var(--box-border);
    border-radius: 12px;
    flex-direction: column;
    margin-top: 20px;
    padding: 30px;
    transition: all .2s ease;
    box-shadow: 0 6px 18px rgba(0, 0, 0, .1);
    transform: translateY(0);
    cursor: pointer;
    background-color: var(--box-bg);
}

.sing-device-type {
    width: 32px;
    aspect-ratio: 1;
    background-position: center;
    background-size: cover;
}

.sing-device-name {
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 1.4rem;
    margin: 10px 0 0 0;

}

.sing-device-one-box>.sing-device:nth-child(2) {
    margin: 20px 2px 0 2px;
}

.sing-device-one-box>.sing-device:nth-child(1) {
    margin-right: 4px;
}

.sing-device-one-box>.sing-device:nth-child(3) {
    margin-left: 4px;
}

.sing-device-hover-after {
    box-shadow: 0 8px 20px rgba(0, 0, 0, .18);
    transform: translateY(-3px);
}

@media screen and (max-width: 1150px) {
    .sing-device-box>div {
        flex-direction: column;
    }

    .three-av,
    .Two-av {
        flex-direction: column;
    }

    .av-item-box {
        margin: 20px 0 0 0 !important;
        aspect-ratio: 16/9 !important;
    }

    .three-av .av-item-box:nth-child(2) {
        background-position: center 0 !important;
    }

  .is-show-box{
    margin-top: 20px;
  }
}


#aplayer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}


@font-face {
    font-family: "wzm";
    src: url("https://file.rainsin.cn/d/blog/font/FZWenZM.woff2"),url(https://mypan.hk.cpolar.io/d/blog/font/FZWenZM.woff2);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: "wzms";
  src: url("https://api.rainsin.cn/fontconverter/FZWenZMXKJW.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


.profile-box{
    width: 100%;
}

.profile{
    display: flex;
    justify-content: center;
    gap: 2px;
    background: var(--box-bg);
    border-radius: 12px;
    border: var(--box-border);
    background-image: url(https://dlink.host/1drv/aHR0cHM6Ly8xZHJ2Lm1zL2kvcyFBb2VyMmNVNVNsT0ZpUGw0a2haZ05WNFR3SGRUUnc_ZT1kdEtOaUQ.webp);
    background-size: cover;
    background-position: center bottom;
    padding: 20px;
    margin-bottom: 20px;
    flex-direction: row-reverse;
}

.profile-box span{
    font-family: "wzm";
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 2em;
    color: #ffffff;
}
.profile-box span:nth-child(5){
    font-family: "wzms";
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: .8em;
    color: #ffffff;
    display: inline-flex;
    justify-content: flex-end;
}

.profile-box span img{
    display: inline-block;
    width: 1em;
    height: 1em;
    margin: 4px auto;
}

@font-face {
    font-family: "篆书";
    src: url(https://file.rainsin.cn/d/blog/font/FZZJ-GJPKZTFU.woff),url(https://mypan.hk.cpolar.io/d/blog/font/FZZJ-GJPKZTFU.woff);
}

.is-show-box{
  width: 100%;
  padding: 14px;
  background: var(--box-bg);
  border: var(--box-border);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  font-family: "篆书";
  font-size: 1.4em;
}

.about-site{
    position: relative;
    font-size: 1.1em;
    padding: 20px 30px;
}
.about-site div.ah-box{
    z-index: 3;
}

.about-site div.ah-box span{
        background-image: none;
    border: none;
    border-radius: 0;
    line-height: normal;
    margin: 0;
    padding: 0;
    animation: none;
    font-family: "Cormorant Garamond", var(--main-font);
    font-style: normal;
    -webkit-background-clip: unset; 
    -webkit-text-fill-color: unset;
    font-weight: 500;
}

.about-site div.ah-box span:nth-child(4){
    color: #5cb3cc;
}
.about-site div.ah-box span:nth-child(5){
    color: #12aa9c;
}
.about-site div.ah-box span:nth-child(3){
    color: #fa7e23;
}

.about-site div.ah-title{
    font-size: 1rem;
    color: #fff;
    font-weight: 700;
}

.about-site .mask3{
    margin: 0;
    background-image: linear-gradient(to right,#9ca49c 0%,#bc8861 52%,#ecd3a9 78%,#4f2f17 100%);
}

.about-site .mask4{
    margin: 0;
    background-image: linear-gradient(to right,#898989 0%,#2c2826 52%,#433d33 78%,#5b5c5c 100%);
}

.bgimg-box{
    background-image: url(https://file.rainsin.cn/d/blog/img/about/%E6%98%8E%E9%87%8C.jpg),url(https://mypan.hk.cpolar.io/d/blog/img/about/%E6%98%8E%E9%87%8C.jpg);
    background-position: center;
    background-size: cover;
}

.bgimg-content-box{
    background-image: url(https://dlink.host/1drv/aHR0cHM6Ly8xZHJ2Lm1zL2kvcyFBb2VyMmNVNVNsT0ZpUGw0a2haZ05WNFR3SGRUUnc_ZT1kdEtOaUQ.webp);
    background-position-y: 85%;
    background-size: cover;
}

.more-about-box{
  width: 100%;
}

hr.sep-1, hr.sep-2 {
  border: none;
  height: 1px;
  background-image: linear-gradient(to right, #f0f0f0, #8f8f8f, #f0f0f0);
  opacity: 1;
  margin: 40px 0;
}
hr.sep-1::after {
  content: '⚔️ 禁止击剑';
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 50% 50%;
  padding: 1px 1rem;
  background-color: var(--main-bg);
}
hr.sep-2::after {
  content: '♉ 是名我';
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 50% 50%;
  padding: 1px 1rem;
  background-color: var(--main-bg);
}


