<!-- The Head -->

<head>
  {% unless site.theme_mode %}
    {% include mode-toggle.html %}
  {% endunless %}

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="theme-color" media="(prefers-color-scheme: light)" content="#f7f7f7">
  <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#1b1b1e">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no initial-scale=1, shrink-to-fit=no, viewport-fit=cover"
  >

  <script>
    const style = document.createElement("style");
    style.type = "text/css";
    if(modeToggle.modeStatus == "dark"){
      style.innerHTML="#loading-gif-box{background-color: #000;} .loading-boxs-imgs{background-image: url(https://rainsin-1305486451.file.myqcloud.com/rainsin-blog/img/load/darkloading.gif);}"
    }else{
      style.innerHTML="#loading-gif-box{background-color: #fff;} .loading-boxs-imgs{background-image: url(https://rainsin-1305486451.file.myqcloud.com/rainsin-blog/img/load6.gif);}"
    }
    
    document.getElementsByTagName("head")[0].appendChild(style);
  </script>
  {% if page.post %}
  <meta name="keywords" content="{{ page.keywords }}">
  <meta name="author" content="{{ page.author }}">
  {% else %}
  <meta name="keywords" content="{{ site.keywords }}">
  <meta name="author" content="{{ site.author }}">
  {% endif %}

  <script defer src="https://analytics.us.umami.is/script.js" data-website-id="202ceef1-7698-45d5-a10e-fc97f6a046c0"></script>

  <!-- Cloudflare Web Analytics -->
  <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "ba41c6c820534b289a3d43b7c5d1edfc"}'></script>
  <!-- End Cloudflare Web Analytics -->

  <script>
      window.load_event = {
      ...window.load_event,
      load_anime: ()=>{
        const loads = document.getElementById("loading-gif-box");
        loads.style.opacity = "0";
        loads.style.zIndex = "-999999";
      }
    }
  </script>

  {% if page.math %}
  <!-- MathJax -->
  <script>
    MathJax = {
      tex: {
        inlineMath: [
          ['$', '$'],
          ['\\(', '\\)']
        ],
        displayMath: [
          ['$$', '$$'],
          ['\\[', '\\]']
        ],
        tags: 'ams'
      }
    };
  </script>
  
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="{{ site.data.origin[type].mathjax.js | relative_url }}"></script>
{% endif %}

  <!-- <script src="/assets/js/dev.js"></script> -->
  
  <link rel="stylesheet" href="/assets/css/comments.css"/>
  <link rel="stylesheet" href="/assets/css/root.css"/>
  {% if page.comments %}
  <script src="https://cdn.staticfile.org/twikoo/1.6.31/twikoo.all.min.js"></script>

    <script defer>
      twikoo.init({
        envId: 'https://comment.vip.cpolar.cn',
        el: '#tcomment',
        onCommentLoaded: window.load_event.comments_style
      });
    </script>
  {% endif %}



  {% if page.react %}
    <script src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
  {% endif %}

  {% if page.video %}
    <link rel="stylesheet" href="https://unpkg.byted-static.com/xgplayer/3.0.7/dist/index.min.css">
    <script src="https://unpkg.byted-static.com/xgplayer/3.0.7/dist/index.min.js"></script>
  {% endif %}

  {% if page.music %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer@1.10.0/dist/APlayer.min.css">
    <script src="https://cdn.jsdelivr.net/npm/aplayer@1.10.0/dist/APlayer.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/meting@1.1.0/dist/Meting.min.js"></script>
  {% endif %}

  {% if page.jquery %}
    <script src="https://fastly.jsdelivr.net/npm/jquery@3.4.0/dist/jquery.min.js"></script>
  {% endif %}

  {% if page.mathpolt %}
    <script src="https://unpkg.com/d3@3/d3.min.js"></script>
    <script src="https://unpkg.com/function-plot@1.23.3/dist/function-plot.js"></script>
  {% endif %}

  {% if page.cube %}
  <!-- <script src="https://cdn.cubing.net/js/cubing/twisty" type="module"></script> -->
  <script type="module">
  import { TwistyPlayer } from "https://cdn.cubing.net/js/cubing/twisty";
  window.TwistyPlayer = TwistyPlayer;
  </script>
  <script src="/assets/share/data/data.js"></script>
  {% endif %}

  {% if page.babel %}
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  {% endif %}

  {% if page.require %}
  <script src="https://requirejs.org/docs/release/2.3.6/minified/require.js"></script>
  {% endif %}

  {% if page.linksdata %}
  <script src="/assets/links/linksdata.js"></script>
  {% endif %}

  {% if page.anime %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.2/anime.min.js" integrity="sha512-aNMyYYxdIxIaot0Y1/PLuEu3eipGCmsEUBrUq+7aVyPGMFH8z0eTP0tkqAvv34fzN6z+201d3T8HPb1svWSKHQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  {% endif %}
  
  {% capture seo_tags %}
    {% seo title=false %}
  {% endcapture %}

  {% if page.image %}
    {% assign img = page.image.path | default: page.image %}

    {% unless img contains '://' %}
      {% assign img_path = page.img_path | append: '/' | append: img | replace: '//', '/' %}
      {% capture target %}"{{ img | absolute_url }}"{% endcapture %}

      {% if site.img_cdn contains '//' %}
        <!-- it's a cross-origin URL -->
        {% capture replacement %}"{{ site.img_cdn }}{{ img_path }}"{% endcapture %}
      {% else %}
        <!-- it's a local file path -->
        {%- capture replacement -%}
          "{{ site.img_cdn | append: '/' | append: img_path | replace: '//', '/' | absolute_url }}"
        {%- endcapture -%}
      {% endif %}

      {% assign seo_tags = seo_tags | replace: target, replacement %}
    {% endunless %}
  {% endif %}

  {{ seo_tags }}

  <title>
    {%- unless page.layout == 'home' -%}
      {{ page.title | append: ' | ' }}
    {%- endunless -%}
    {{ site.title }}
  </title>

  {% include favicons.html %}

  {% if site.resources.ignore_env != jekyll.environment and site.resources.self_hosted %}
    <link href="{{ site.data.origin[type].webfonts | relative_url }}" rel="stylesheet">

  {% else %}
    {% for cdn in site.data.origin[type].cdns %}
      <link rel="preconnect" href="{{ cdn.url }}" {{ cdn.args }}>
      <link rel="dns-prefetch" href="{{ cdn.url }}" {{ cdn.args }}>
    {% endfor %}

    <link rel="stylesheet" href="{{ site.data.origin[type].webfonts | relative_url }}">
  {% endif %}

  <!-- GA -->
  {% if jekyll.environment == 'production' and site.google_analytics.id != empty and site.google_analytics.id %}
    <link rel="preconnect" href="https://www.google-analytics.com" crossorigin="use-credentials">
    <link rel="dns-prefetch" href="https://www.google-analytics.com">

    <link rel="preconnect" href="https://www.googletagmanager.com" crossorigin="anonymous">
    <link rel="dns-prefetch" href="https://www.googletagmanager.com">
  {% endif %}

  <!-- Bootstrap -->
  <link rel="stylesheet" href="{{ site.data.origin[type].bootstrap.css | relative_url}}">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{ site.data.origin[type].fontawesome.css | relative_url }}">

  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

  {% if site.toc and page.toc %}
    <link rel="stylesheet" href="{{ site.data.origin[type].toc.css | relative_url }}">
  {% endif %}

  {% if page.layout == 'page' or page.layout == 'post' %}
    <!-- Manific Popup -->
    <link rel="stylesheet" href="{{ site.data.origin[type].magnific-popup.css | relative_url }}">
  {% endif %}

  <!-- JavaScript -->
  <!-- <style>
    @media (prefers-color-scheme: dark){
      #loading-gif-box{
        background-color: #000;
      }

      .loading-boxs-imgs{
        background-image: url(https://rainsin-1305486451.file.myqcloud.com/rainsin-blog/img/load/darkloading.gif);
      }
    }

    @media (prefers-color-scheme: light){
      #loading-gif-box{
        background-color: #fff;
      }

      .loading-boxs-imgs{
        background-image: url(https://rainsin-1305486451.file.myqcloud.com/rainsin-blog/img/load6.gif);
      }
    }
  </style> -->

  {% include metadata-hook.html %}
</head>
