<script type="module">
const targetNode = document.documentElement;

const config = { attributes:true,characterData: false};

const callback = function (mutationsList, observer) {
  for (let mutation of mutationsList) {
    if (mutation.type === "attributes" && mutation.attributeName === "data-mode") {
        if(!targetNode.getAttribute('data-mode')){
            if(modeToggle.modeStatus === 'dark')
                targetNode.setAttribute('data-mode','dark');
            else{
                targetNode.setAttribute('data-mode','light');
            }
        }
    }
  }
};

const observer = new MutationObserver(callback);

observer.observe(targetNode, config);

</script>