.main {
  display: flex;
  width: 100%;
  justify-content: center;
}

.resume_box{
  width: 210mm;
  height: 297mm;
  padding: 10px 30px;
}
.resume_info_box{
  border-radius: 6px;
  border: 1px solid #ddd;
}