.heti {
    max-width: 100%;
}

.heti-box {
    max-width: 100%;
    margin: 40px 0;
    display: grid;
}

.heti--vertical {
    max-width: 100%;
    overflow-x: auto;
    margin: 0 auto;
}

.heti .heti-em {
    text-emphasis-style: dot;
}

em.charch,
.charch em {
    text-emphasis-style: triangle !important;
}

.heti--fangsong * {
    font-family: "Times New Roman", times, "heti Fangsong" !important;
}

.heti-fangsong {
    font-family: "Times New Roman", times, "heti Fangsong" !important;
}

.heti-fangsong * {
    font-family: "Times New Roman", times, "heti Fangsong" !important;
}

@font-face {
    font-family: "Heti Song";
    src: local("Songti SC Regular"), local("Songti TC Regular"),"Songti SC OSS","STSong-OSS", url(https://pan.rainsin.cn:2000/d/blog/font/heti/%E5%AE%8B%E4%BD%93_%E5%B8%B8%E8%A7%84.woff2), url(https://mypan.hk.cpolar.io/d/blog/font/heti/%E5%AE%8B%E4%BD%93_%E5%B8%B8%E8%A7%84.woff2), local("Songti SC"), local("Songti TC"), local("STsong"), local("CESI_SS_GB2312"), local("Noto Serif CJK"), local("Source Han Serif"), local("SimSun");
}

@font-face {
    font-family: "Heti Song";
    font-weight: 200;
    src: local("Songti SC Light"), local("Songti TC Light"), local("Songti SC"), local("Songti TC"),"Songti SC OSS","STSong-OSS", url(https://pan.rainsin.cn:2000/d/blog/font/heti/%E5%AE%8B%E4%BD%93_%E5%B8%B8%E8%A7%84.woff2), url(https://mypan.hk.cpolar.io/d/blog/font/heti/%E5%AE%8B%E4%BD%93_%E5%B8%B8%E8%A7%84.woff2), local("CESI_SS_GB2312"), local("Noto Serif CJK"), local("Source Han Serif"), "Heti Song Light Fallback";
}

@font-face {
    font-family: "Heti Song Light Fallback";
    font-weight: 200;
    src: local("SimSun"), local("STsong");
}

@font-face {
    font-family: "Heti Song";
    font-weight: 600;
    src: local("Songti SC Bold"), local("Songti TC Bold"), local("Songti SC"), local("Songti TC"),"Songti SC OSS","STSong-OSS", url(https://pan.rainsin.cn:2000/d/blog/font/heti/%E5%AE%8B%E4%BD%93_%E5%B8%B8%E8%A7%84.woff2), url(https://mypan.hk.cpolar.io/d/blog/font/heti/%E5%AE%8B%E4%BD%93_%E5%B8%B8%E8%A7%84.woff2), local("CESI_SS_GB2312"), local("Noto Serif CJK"), local("Source Han Serif"), "Heti Song Bold Fallback";
}

@font-face {
    font-family: "Heti Song Bold Fallback";
    font-weight: 600;
    src: local("STsong"), local("SimSun");
}

@font-face {
    font-family: "Heti Song Black";
    font-weight: 800;
    src: local("Songti SC Black"), local("Songti SC"), local("Songti TC"), "Songti SC OSS","STSong-OSS",local("CESI_SS_GB2312"), local("Noto Serif CJK"), local("Source Han Serif"), local("SimSun");
}

@font-face {
    font-family: "Heti Kai";
    src: local("Kaiti SC Regular"), local("Kaiti TC Regular"), local("Kaiti SC"), local("Kaiti TC"), local("STKaiti"), local("Kaiti"),"KaiTi OSS", "STKaiti SC OSS","STKaiti OSS", url(https://pan.rainsin.cn:2000/d/blog/font/heti/%E6%A5%B7%E4%BD%93_%E5%B8%B8%E8%A7%84.woff2), url(https://pan.rainsin.cn:2000/d/blog/font/heti/%E5%8D%8E%E6%96%87%E6%A5%B7%E4%BD%93.woff2), url(https://mypan.hk.cpolar.io/d/blog/font/heti/%E6%A5%B7%E4%BD%93_%E5%B8%B8%E8%A7%84.woff2), url(https://mypan.hk.cpolar.io/d/blog/font/heti/%E5%8D%8E%E6%96%87%E6%A5%B7%E4%BD%93.woff2), local("CESI_KT_GB18030"), local("BiauKai");
}

@font-face {
    font-family: "Heti Kai";
    font-weight: 600;
    src: local("Kaiti SC Bold"), local("Kaiti TC Bold"), local("Kaiti SC"), local("Kaiti TC"),"KaiTi OSS", "STKaiti SC OSS","STKaiti OSS", url(https://pan.rainsin.cn:2000/d/blog/font/heti/%E6%A5%B7%E4%BD%93_%E5%B8%B8%E8%A7%84.woff2), url(https://pan.rainsin.cn:2000/d/blog/font/heti/%E5%8D%8E%E6%96%87%E6%A5%B7%E4%BD%93.woff2), url(https://mypan.hk.cpolar.io/d/blog/font/heti/%E6%A5%B7%E4%BD%93_%E5%B8%B8%E8%A7%84.woff2), url(https://mypan.hk.cpolar.io/d/blog/font/heti/%E5%8D%8E%E6%96%87%E6%A5%B7%E4%BD%93.woff2), local("CESI_KT_GB18030"), "Heti Kai Bold Fallback";
}

@font-face {
    font-family: "Heti Kai Bold Fallback";
    font-weight: 600;
    src: local("STKaiti"), local("Kaiti"), local("BiauKai");
}

@font-face {
    font-family: "Heti Kai Black";
    font-weight: 800;
    src: local("Kaiti SC Black"), local("Kaiti TC Black"), local("Kaiti SC"), local("Kaiti TC"),"KaiTi OSS", "STKaiti SC OSS","STKaiti OSS", url(https://pan.rainsin.cn:2000/d/blog/font/heti/%E6%A5%B7%E4%BD%93_%E5%B8%B8%E8%A7%84.woff2), url(https://pan.rainsin.cn:2000/d/blog/font/heti/%E5%8D%8E%E6%96%87%E6%A5%B7%E4%BD%93.woff2), url(https://mypan.hk.cpolar.io/d/blog/font/heti/%E6%A5%B7%E4%BD%93_%E5%B8%B8%E8%A7%84.woff2), url(https://mypan.hk.cpolar.io/d/blog/font/heti/%E5%8D%8E%E6%96%87%E6%A5%B7%E4%BD%93.woff2), local("CESI_KT_GB18030"), local("STKaiti"), local("Kaiti");
}

@font-face {
    font-family: "Heti Fangsong";
    src: local("STFangsong"), local("FangSong"), local("FangSong_GB2312"),"STFangsong OSS","FangSong OSS","FZFangSong-Z02", url(https://pan.rainsin.cn:2000/d/blog/font/heti/%E4%BB%BF%E5%AE%8B_%E5%B8%B8%E8%A7%84.woff2), url(https://pan.rainsin.cn:2000/d/blog/font/heti/%E5%8D%8E%E6%96%87%E4%BB%BF%E5%AE%8B.woff2), url(https://mypan.hk.cpolar.io/d/blog/font/heti/%E4%BB%BF%E5%AE%8B_%E5%B8%B8%E8%A7%84.woff2), url(https://mypan.hk.cpolar.io/d/blog/font/heti/%E5%8D%8E%E6%96%87%E4%BB%BF%E5%AE%8B.woff2), local("CESI_FS_GB18030"), url(https://pan.rainsin.cn:2000/d/blog/font/heti/FZFSK--GBK1-0.woff2), url(https://mypan.hk.cpolar.io/d/blog/font/heti/FZFSK--GBK1-0.woff2);
}

.heti--ancient h1,
.heti--ancient h2,
.heti--ancient h3,
.heti--ancient h4,
.heti--ancient h5,
.heti--ancient h6,
.heti--poetry h1,
.heti--poetry h2,
.heti--poetry h3,
.heti--poetry h4,
.heti--poetry h5,
.heti--poetry h6 {
    font-family: "Times New Roman", times, "Heti Kai Black", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 800;
}

.heti mark {
    background-color: #f0ada053;
    color: var(--text-color);
}

.heti u[title] {
    border-block-end-color: var(--text-color);
}

.heti--nowarp {
    text-wrap: nowrap;
    overflow-x: auto;
}

.heti .heti-intent {
    text-indent: 2em;
}

.heti .heti-intent-3em {
    text-indent: 3em;
}

.heti .heti-intent-4em {
    text-indent: 4em;
}

html[data-mode="dark"] .heti blockquote {
    background-color: #f0ada011;
}

.heti blockquote {
    color: var(--text-color);
    margin-inline-end: 0;
}

.heti .heti-inline-block {
    display: inline-block;
}

.heti .heti-fangsong-regular {
    font-size: 1.1em;
}

.heti .heti-start{
    text-align: start;
}
.heti .heti-end{
    text-align: end;
}
.heti .heti-red{
    background-color: rgb(220 ,38, 38);
    color: #fff;
    padding: 3px;
    margin-bottom: .5em;
    border-radius: 4px;
}

.heti .heti-h1-self{
    font-size: 1.5em;
}

.heti .heti-kinghua {
    font-family: "KingHwa_OldSong" !important;
}

.heti--kinghua {
    font-family: "KingHwa_OldSong" !important;
}