:root{
    --box-border: 1px solid rgba(34, 36, 38, .15);
    --Jay-shadow-border: 0 8px 16px -4px #2c2d300c;
    --style-border-always: var(--box-border);
    --main-font:"筑紫A", "Hiragino Sans GB", "Microsoft YaHei";
    --pingfang-font:"Ping Fang", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei";
    --box-bg: #d3d3d323;
    --box-border-b: var(--box-border);
}
