@font-face {
    font-family: '方正书宋繁';
    src: url("https://api.rainsin.cn/fontconverter/FZSSK.woff2");
}

@font-face {
    font-family: '方正宋黑繁';
    src: url("https://api.rainsin.cn/fontconverter/FZSHK.woff2");
}

@font-face {
    font-family: "筑紫ALL";
    src: url("https://dlink.host/1drv/aHR0cHM6Ly8xZHJ2Lm1zL3UvcyFBb2VyMmNVNVNsT0ZoX0lBV3pyYXk4dHFkb29HY3c_ZT1nVEZLeDQ.woff2") format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: "筑紫ALL";
    src: url("https://dlink.host/1drv/aHR0cHM6Ly8xZHJ2Lm1zL3UvcyFBb2VyMmNVNVNsT0ZoX0ZfNmZRWXFzNmZWcFk4RVE_ZT1MNzJHdVA.woff2") format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: "筑紫ALL";
    src: url("https://dlink.host/1drv/aHR0cHM6Ly8xZHJ2Lm1zL3UvcyFBb2VyMmNVNVNsT0ZoX0YteXpnZnJXYzFPQWs4anc_ZT1QYTExZTY.woff2") format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: "筑紫ALL";
    src: url("https://dlink.host/1drv/aHR0cHM6Ly8xZHJ2Lm1zL3UvcyFBb2VyMmNVNVNsT0ZoX0lEbWJ2d1ljaUJmVmhGSHc_ZT01YTllYnk.woff2") format('woff2');
    font-weight: 100;
}

@font-face {
    font-family: "筑紫ALL";
    src: url("https://dlink.host/1drv/aHR0cHM6Ly8xZHJ2Lm1zL3UvcyFBb2VyMmNVNVNsT0ZoX0lDYXpORFM0YjJqSUk5RGc_ZT1ZQmhlM1k.woff2") format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: "筑紫ALL";
    src: url("https://dlink.host/1drv/aHR0cHM6Ly8xZHJ2Lm1zL3UvcyFBb2VyMmNVNVNsT0ZoX0lCZTM4TFNmUmxXQnV1Smc_ZT0zSFYzbUY.woff2") format('woff2');
    font-weight: 200;
}

@font-face {
    font-family: "筑紫A主";
    src: url("https://dlink.host/1drv/aHR0cHM6Ly8xZHJ2Lm1zL3UvcyFBaGo3cGoyZ3h1S1djb2t6NjVUal85VEJvSVE_ZT1WTkFNM2I.woff2") format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: "筑紫A主";
    src: url("https://dlink.host/1drv/aHR0cHM6Ly8xZHJ2Lm1zL3UvcyFBaGo3cGoyZ3h1S1djRVgzdzg2Z1VYdWotLXc_ZT1HU1VFMHE.woff2") format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: "筑紫A主";
    src: url("https://dlink.host/1drv/aHR0cHM6Ly8xZHJ2Lm1zL3UvcyFBaGo3cGoyZ3h1S1djY05CbW5WTjNLUEd5djQ_ZT1VQ25LTnU.woff2") format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: "筑紫A主";
    src: url("https://dlink.host/1drv/aHR0cHM6Ly8xZHJ2Lm1zL3UvcyFBaGo3cGoyZ3h1S1diUkpPWkwtTlhCbDUwMnc_ZT15dlVIU2M.woff2") format('woff2');
    font-weight: 100;
}

@font-face {
    font-family: "筑紫A主";
    src: url("https://dlink.host/1drv/aHR0cHM6Ly8xZHJ2Lm1zL3UvcyFBaGo3cGoyZ3h1S1dibHZBQ1hNeE80a2pyb0E_ZT1QMVJjZ08.woff2") format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: "筑紫A主";
    src: url("https://dlink.host/1drv/aHR0cHM6Ly8xZHJ2Lm1zL3UvcyFBaGo3cGoyZ3h1S1diMTNpeFlybzRzR3pZQms_ZT0yYklxaW0.woff2") format('woff2');
    font-weight: 200;
}

@font-face {
    font-family: "筑紫A备";
    src: url("https://api.rainsin.cn/out_font/500-1721485067.woff2") format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: "筑紫A备";
    src: url("https://api.rainsin.cn/out_font/400-1721485067.woff2") format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: "筑紫A备";
    src: url("https://api.rainsin.cn/out_font/600-1721485067.woff2") format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: "筑紫A备";
    src: url("https://api.rainsin.cn/out_font/100-1721485067.woff2") format('woff2');
    font-weight: 100;
}

@font-face {
    font-family: "筑紫A备";
    src: url("https://api.rainsin.cn/out_font/300-1721485067.woff2") format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: "筑紫A备";
    src: url("https://api.rainsin.cn/out_font/200-1721485067.woff2") format('woff2');
    font-weight: 200;
}

:root {
    --box-border: 1px solid rgba(143, 155, 168, 0.15);
    --Jay-shadow-border: 0 8px 16px -4px #2c2d300c;
    --style-border-always: var(--box-border);
    --main-font: "筑紫A主","筑紫a","筑紫A备","筑紫ALL" "方正宋黑繁", "方正书宋繁", "Hiragino Sans GB", "Microsoft YaHei";
    --pingfang-font: "Ping Fang", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei";
    --box-bg: #d3d3d323;
    --box-border-b: var(--box-border);
}

*::-webkit-scrollbar {
    width: 8px;
    height: 1px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 4px;
    box-shadow: inset 0 0 5px rgba(182, 176, 176, 0.2);
    background: #bcc1c7;
    border-radius: 4px;
}

*::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: 4px;
    background: transparent;
}

* {
    scrollbar-width: 8px;
    scrollbar-base-color: #EEF4FA;
    scrollbar-track-color: transparent;
    scrollbar-arrow-color: blue;
}

.tk-owo-emotion {
    width: 1.5em;
}

.about-site {
    display: flex;
    width: 100%;
    background-color: var(--box-bg);
    border: 2px solid rgba(34, 36, 38, .15);
    border-radius: 12px;
    padding: 20px;
    flex-direction: column;
    margin: 20px 0 24px 0
}

.about-site div {
    display: inline;
    flex: 1;
    align-content: center;
    margin: 10px 0;
}

.about-site div span {
    background-image: linear-gradient(to left, #ff4500, orange, gold, #90ee90, #0ff, #1e90ff, #9370db, #ff69b4, #ff4500);
    border: var(--box-border);
    border-radius: 4px;
    line-height: 1rem;
    background-size: 200%;
    margin: 0 4px;
    padding: 0 6px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 5s linear infinite;
}

.about-site div a {
    background-image: linear-gradient(to left, #ff4500, orange, gold, #90ee90, #0ff, #1e90ff, #9370db, #ff69b4, #ff4500);
    border: var(--box-border);
    border-radius: 4px;
    line-height: 1rem;
    background-size: 200%;
    margin: 0 4px;
    padding: 0 6px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 5s linear infinite;
}

.table-wrapper>table {
    width: 100%;
}

.some-font_sasadsasd111ww2::after {
    content: "渭";
}