@font-face {
    font-family: '方正书宋繁';
    src: url("https://api.rainsin.cn/fontconverter/FZSSK.woff2");
    font-weight: 400;
}

@font-face {
    font-family: '方正宋黑繁';
    src: url("https://api.rainsin.cn/fontconverter/FZSHK.woff2");
    font-weight: 600;
}

@font-face {
    font-family: '方正书宋简';
    src: url("https://api.rainsin.cn/fontconverter/FZSSKJ.woff2");
    font-weight: 400;
}

@font-face {
    font-family: '方正宋黑简';
    src: url("https://api.rainsin.cn/fontconverter/FZSHKJ.woff2");
    font-weight: 600;
}

:root{
    --box-border: 1px solid rgba(143, 155, 168, 0.15);
    --Jay-shadow-border: 0 8px 16px -4px #2c2d300c;
    --style-border-always: var(--box-border);
    --main-font: "筑紫A", "方正宋三繁", "方正宋黑繁","方正书宋简" ,"方正宋黑简" ,"Hiragino Sans GB", "Microsoft YaHei";
    --pingfang-font:"Ping Fang", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei";
    --box-bg: #d3d3d323;
    --box-border-b: var(--box-border);
}

*::-webkit-scrollbar {
    width: 8px;
    height: 1px;
}
*::-webkit-scrollbar-thumb {
    border-radius: 4px;
    box-shadow: inset 0 0 5px rgba(182, 176, 176, 0.2);
    background: #bcc1c7;
    border-radius: 4px; 
}
*::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: 4px;
    background: transparent;
}

* {
    scrollbar-width: 8px;
    scrollbar-base-color: #EEF4FA;
    scrollbar-track-color: transparent;
    scrollbar-arrow-color: blue;
}

.about-site{
    display: flex;
    width: 100%;
    background-color: var(--box-bg);
    border:2px solid rgba(34, 36, 38, .15);
    border-radius: 12px;
    padding: 20px;
    flex-direction: column;
    margin: 20px 0 24px 0
}

.about-site div{
    display: inline;
    flex: 1;
    align-content: center;
    margin: 10px 0;
}

.about-site div span{
    background-image: linear-gradient(to left, #ff4500, orange, gold, #90ee90, #0ff, #1e90ff, #9370db, #ff69b4, #ff4500);
    border:var(--box-border);
    border-radius: 4px;
    line-height: 1rem;
    background-size: 200%;
    margin: 0 4px;
    padding: 0 6px;
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    animation: rainbow 5s linear infinite;
}

.about-site div a{
    background-image: linear-gradient(to left, #ff4500, orange, gold, #90ee90, #0ff, #1e90ff, #9370db, #ff69b4, #ff4500);
    border:var(--box-border);
    border-radius: 4px;
    line-height: 1rem;
    background-size: 200%;
    margin: 0 4px;
    padding: 0 6px;
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    animation: rainbow 5s linear infinite;
}

.table-wrapper>table{
  width:100%;
}

.some-font_sasadsasd111ww2::after{
    content: "渭";
}