@font-face {
    font-family: "cjpxk";
    src: url(https://api.rainsin.cn/fontconverter/FZZJ-CJPXKJF.woff2);
}

@font-face {
    font-family: "cjpxk备";
    src: url(/assets/post/24/FZZJ-CJPXKJW.woff2);
}

.poem-box{
    font-family: "cjpxk", "cjpxk备";
    width: 100%;
    padding: 20px;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.poem-box div {
    display: inline-flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .mySwiper2 {
    height: 80%;
    width: 100%;
  }

  .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
