<details>
  <summary>关于林木盗窃法的辩论的原文</summary>
  <p>
    我们以前已经描写过省议会舞台上演出的两场大型政治历史剧，一场是有关省议会在新闻出版自由问题上的纠纷的，一场是有关它在纠纷问题[48]上的不自由的。现在我们来到坚实的地面上演戏。在谈到意义重大的真正的现实生活问题，谈到地产析分问题[94]之前，我们先给读者看几幅风俗画，这些画多方面地反映了省议会的精神，甚至可以说是反映了省议会的真正本质。
  </p>
  <p>
    林木盗窃法也和狩猎、森林、牧场违禁法[95]一样，不仅因为省议会的关系值得研究，而且其本身也值得研究。但是我们手头没有这个法案。我们的材料只是简略地提到省议会及其委员会对法律所作的一些补充，而且其中也只是列举了法律有关条款的号码。有关省等级会议辩论情况的报道也非常空洞、零乱和虚假，读起来简直叫人困惑不解。从现有的一些片断材料看来，省议会显然是想以这种消极的沉默给我省树立一个恭顺的榜样。
  </p>
  <p>
    这次辩论中有一件典型事实十分引人注目。省议会以第二立法者的资格与国家立法者并肩行事。通过具体例子来说明省议会的立法能力是很有意思的。因此，如果我们要求读者具有耐性和毅力，读者是会见谅的，这是我们在研究这个极其枯燥的论题时需要不断培养的两种美德。我们叙述省议会关于盗窃法的辩论，也就是叙述省议会关于它的立法职能的辩论。
  </p>
  <p>辩论一开始，就有一位城市代表［注：约·弗·布鲁斯特。——编者注］</p>
  <p>
    反对法律的标题，因为这个标题把普通的违反林木管理条例的行为也归入“盗窃”这一范畴。
  </p>
  <p>
    一位骑士等级的代表［注：爱·贝·特里普斯伯爵。——编者注］反驳说：“正因为偷拿林木不算盗窃，所以这种行为才经常发生。”［注：《第六届莱茵省议会会议记录》1841年科布伦茨版第22页。——编者注］
  </p>
  <p>
    照这样推论下去，同一个立法者还应该得出这样的结论：正因为打耳光不算杀人，所以打耳光才成为如此常见的现象。因此应当决定，打耳光就是杀人。
  </p>
  <p>另一位骑士等级的代表［注：马·洛埃男爵。——编者注］认为：</p>
  <p>
    “回避‘盗窃’一词更加危险，因为一旦有人知道关于这个词曾发生过争论，他就很容易设想，似乎省议会也不把偷拿林木当作盗窃。”［注：《第六届莱茵省议会会议记录》1841年科布伦茨版第22页。——编者注］
  </p>
  <p>
    省议会应该决定，它是否认为违反林管理条例的行为就是盗窃。可是，如果省议会不把违反林木管理条例的行为宣布为盗窃，那么人们就会认为，省议会真的不把这种行为算作盗窃。因此，最好是不要触及这个棘手的、有争议的问题。这就涉及婉转表达的问题。但是，婉转表达是应该避免的。林木所有者堵住立法者的嘴，因为隔墙有耳。
  </p>
  <p>
    那位代表走得更远。他认为，对“盗窃”一词所作的全部分析都是“全体会议不该做的措辞修饰工作”。
  </p>
  <p>
    省议会听取了这样清楚的论证以后，就对法律的标题进行了表决。［注：《第六届莱茵省议会会议记录》1841年科布伦茨版第22页。——编者注］
  </p>
  <p>
    上述这种观点硬说把公民当作小偷是纯粹措辞表达上的粗心大意，它把一切反对意见当作语法上的吹毛求疵而加以否定；从这个观点看来，偷拿枯树或者捡拾枯枝也应归入盗窃的范围，并应和砍伐活树受到同样的惩罚。
  </p>
  <p>
    不错，上述那位城市代表指出：“由于惩罚可能达到长期监禁的程度，这种严厉的做法就会把那些尚未离开正道的人直接推上犯罪的道路。仅仅由于他们在监狱中将同惯偷住在一起，也会发生这种情况；因此，他认为，捡拾或偷拿枯树只应该受普通的违警处罚。”［注：《第六届莱茵省议会会议记录》1841年科布伦茨版第22页。——编者注］
  </p>
  <p>
    但是，另一位城市代表［注：尼·采托。——编者注］却提出了意味深长的反对意见：“在他那个地方的森林里，常常有人先把幼树砍伤，等它枯死后，就把它当作枯树。”［注：《第六届莱茵省议会会议记录》1841年科布伦茨版第22页。——编者注］
  </p>
  <p>
    这种为了幼树的权利而牺牲人的权利的做法真是最巧妙而又最简单不过了。如果法律的这一条款被通过，那么就必然会把一大批不是存心犯罪的人从活生生的道德之树上砍下来，把他们当作枯树抛入犯罪、耻辱和贫困的地狱。如果省议会否决这一条款，那就可能使几棵幼树受害。未必还需要说明：获得胜利的是被奉为神明的林木，人却成为牺牲品遭到了失败！
  </p>
  <p>
    刑罚法规[96]只把偷拿砍下的树木和盗伐林木算作盗窃林木。其中(我们的省议会不会相信这一点)说道：“凡白天采食果实并由于偷拿而造成轻微损失的人，一律根据个人情况和事实情节给以民事<可见不得刑事>处分。”［注：《查理五世皇帝和神圣罗马帝国的刑罚法规》1787年吉森增订第4版第202页。——编者注］
  </p>
  <p>
    16世纪的刑罚法规要求我们为它辩护，不让19世纪的莱茵省议会责备它过分仁慈。我们同意这种要求。一种是捡拾枯树，一种是情况极其复杂的林木盗窃！这两种情况有一个共同的规定：占有他人的林木。因此，两者都是盗窃。这就是刚才制定法律的那种有远见的逻辑所得出的结论。因此，我们首先要指出两种行为的差别，如果必须承认它们的事实构成在本质上是不同的，那么就很难说这种事实构成从法律上来看是相同的。要占有一棵活树，就必须用暴力截断它的有机联系。这是一种明显地侵害树木的行为，因而也就是一种明显地侵害树木所有者的行为。其次，如果砍伐的树木是从别人那里偷来的，那么在这种情况下，砍伐的树木就是它的所有者的产品。砍伐的树木已经是加过工的树木。同财产的天然联系已让位于人为的联系。因而，谁偷窃砍伐的树木，谁就是偷窃财产。
  </p>
  <p>
    捡拾枯树的情况则恰好相反，这里没有任何东西同财产脱离。脱离财产的只是实际上已经脱离了它的东西。盗窃林木者是擅自对财产作出了判决。而捡拾枯树的人则只是执行财产本性本身所作出的判决，因为林木所有者所占有的只是树木本身，而树木已经不再占有从它身上落下的树枝了。
  </p>
  <p>
    可见，捡拾枯树和盗窃林木是本质上不同的两回事。对象不同，作用于这些对象的行为也就不同，因而意图也就一定有所不同，试问除了行为的内容和形式而外，还有什么客观标准能衡量意图呢？而你们却不顾这种本质上的差别，竟把两种行为都称为盗窃，并且都当作盗窃来惩罚。你们对捡拾枯树的惩罚甚至比对盗窃林木的惩罚还要严厉，因为你们把捡拾枯树宣布为盗窃，这已经是惩罚，而对盗窃林木的行为，你们显然是不会给予这种惩罚的。既然是那样，你们就必须把盗窃林木宣布为谋杀林木，并作为谋杀罪论处。法律不应该逃避说真话的普遍义务。法律负有双重的义务这样做，因为它是事物的法理本质的普遍和真正的表达者。因此，事物的法理本质不能按法律行事，而法律倒必须按事物的法理本质行事。但是，如果法律把那种未必能叫作违反林木管理条例的行为称为盗窃林木，那么法律就是撒谎，而穷人就会成为合法谎言的牺牲品了。
  </p>
  <p>
    孟德斯鸠说：“有两种腐败现象，一种是人民不遵守法律；另一种是法律本身使人民腐败；后一种弊病是无可救药的，因为药物本身就包含着这种弊病。”［注：孟德斯鸠《论法的精神》第1卷第6章第12节。——编者注］
  </p>
  <p>
    你们无论如何也无法迫使人们相信没有罪行的地方有罪行。你们所能做的只是把罪行本身变成合法的行为。你们颠倒黑白、混淆是非，但是，如果你们以为这只会给你们带来好处，那就错了。人民看到的是惩罚，但是看不到罪行，正因为他们在没有罪行的地方看到了惩罚，所以在有惩罚的地方也就看不到罪行了。你们在不应该用盗窃这一范畴的场合用了这一范畴，因而在应该用这一范畴的场合就掩饰了盗窃。
  </p>
  <p>
    完全撇开各种不同行为之间的差别而只给它们确定一个共同的定义，这种粗暴的观点难道不是不攻自破吗？如果对任何侵犯财产的行为都不加区别、不作出比较具体的定义而一概以盗窃论处，那么，任何私有财产岂不都是盗窃吗？我占有了自己的私有财产，那不就是排斥了其他任何人来占有这一财产吗？那岂不就是侵犯了他人的财产权吗？同一类罪行具有极不相同的各种形式，如果你们否认这些形式之间的差别，那么你们也就把罪行本身当作一种和法不同的东西加以否认，你们也就是消灭了法本身，因为任何罪行都有某种与法本身共同的方面。因此，不考虑任何差别的严厉手段，会使惩罚毫无效果，因为它会取消作为法的结果的惩罚，这是一个历史的，同样也是合乎理性的事实。
  </p>
  <p>
    但是我们所争论的是什么呢？省议会抹杀了捡拾枯树、违反林木管理条例的行为和盗窃林木这三者之间的差别，在问题涉及违反森林管理条例者的利益时，它抹杀这些行为之间的差别，认为这些差别并不决定行为的性质。但是，一旦问题涉及林木所有者的利益时，省议会就承认这些差别了。
  </p>
  <p>
    例如，委员会提议作这样的补充：“凡用切割工具砍倒或截断活树者，凡用锯子代替斧头者；一律加重治罪。”［注：《第六届莱茵省议会会议记录》1841年科布伦茨版第23页。——编者注］
  </p>
  <p>
    省议会批准了这种分别治罪的办法。当问题涉及自身的利益时，这些明达的立法者就如此认真地把斧头和锯子也区分开来，而当问题涉及他人的利益时，他们就毫无心肝，连枯树和活树都不加区别了。差别作为加重罪行的情节是重要的，但是作为减轻罪行的情节却毫无意义，尽管既然不可能有减轻罪行的情节，那么也就不可能有加重罪行的情节。这样的逻辑在辩论的进程中还不止一次地重演。
  </p>
  <p>
    在讨论第65条时，一个城市代表［注：约·亨·鲍尔。——编者注］希望：“被窃林木的价值也成为确定惩罚的标准”；“但这一点被报告人斥为不切实际的办法”。［注：《第六届莱茵省议会会议记录》1841年科布伦茨版第28页。——编者注］
  </p>
  <p>
    这位城市代表谈到第66条时又指出：“整个法律中根本没有指出加重或减轻惩罚所应该依据的价值的大小。”［注：《第六届莱茵省议会会议记录》1841年科布伦茨版第28页。——编者注］在确定对侵犯财产的行为的惩罚时，价值的重要性是不言自明的。
  </p>
  <p>
    如果罪行这个概念要求惩罚，那么罪行的现实就要求有一个惩罚的尺度。实际的罪行是有界限的。因此，为了使惩罚成为实际的，惩罚就应该是有界限的，为了使惩罚成为公正的，惩罚就应该受到法的原则的限制。任务就是要使惩罚成为罪行的实际后果。惩罚在罪犯看来应该表现为他的行为的必然结果，因而表现为他自己的行为。所以.他受惩罚的界限应该是他的行为的界限。犯法的一定内容就是一定罪行的界限。因此，衡量这一内容的尺度就是衡量罪行的尺度。对于财产来说，这种尺度就是它的价值。一个人无论被置于怎样的界限内，他总是作为一个整体而存在，而财产则总是只存在于一定的界限内，这种界限不仅可以确定，而且已经确定，不仅可以测定，而且已经测定。价值是财产的民事存在的形式，是使财产最初获得社会意义和可转让性的逻辑术语。显然，这种由事物本身的本性中得出的客观规定，也应该成为惩罚的客观的和本质的规定。如果在涉及数目大小的场合立法能够仅仅以外部特征为依据，而不致陷入永无止境的规定之中，那么它至少必须进行调节。问题不在于历数一切差别，而在于确定差别。然而省议会根本不屑于理睬这些小事情。
  </p>
  <p>
    但是，也许你们以为由此可以得出结论说省议会在决定惩罚时已完全排除了价值吧？这种结论是多么轻率而不实际呀！林木所有者——我们在下面就要更详细地谈到这一点——不仅要求小偷赔偿一般的简单价值；他甚至还要使这种价值具有个性，并根据这种具有诗意的个性要求特别补偿。现在我们才明白报告人所说的实际是什么意思。讲求实际的林木所有者是这样判断事物的：某项法律规定由于对我有利，就是好的，因为我的利益就是好事。而某项法律规定由于纯粹从法理幻想出发，也应该适用于被告，那就是多余的、有害的、不实际的。既然被告对我是有害的，那么不言而喻，凡是使被告受害较少的事情，对我都是有害的。这真是非常实际的高见。
  </p>
  <p>
    但是，我们这些不实际的人要为政治上和社会上一无所有的贫苦群众要求那一帮学识渊博而又温顺听话的奴才即所谓的历史学家们所发明的东西，他们把这种东西当作真正的哲人之石[61]，以便把一切不正当的非分要求点成法之纯金。我们为穷人要求习惯法，而且要求的不是地方性的习惯法，而是一切国家的穷人的习惯法。我们还要进一步说明，这种习惯法按其本质来说只能是这些最底层的、一无所有的基本群众的法。
  </p>
  <p>
    所谓特权者的习惯是和法相抵触的习惯。这些习惯产生的时期，人类史还是自然史的一部分，根据埃及的传说，当时所有的神灵都以动物的形象出现。人类分成为若干特定的动物种属，决定他们之间的联系的不是平等，而是不平等，法律所确定的不平等。不自由的世界要求不自由的法，因为这种动物的法是不自由的体现，而人类的法是自由的体现。封建制度就其最广泛的意义来说，是精神的动物王国，是被分裂的人类世界，它和有区别的人类世界相反，因为后者的不平等现象不过是平等的色彩折射而已。在实行单纯的封建制度的国家即实行等级制度的国家里，人类简直是按抽屉［注：德文：“Kasten”既有“等级”、“阶层”的意思，又有“抽屉”的意思。——编者注］来分类的，那里伟大圣者(即神圣的人类)的高贵的、彼此自由联系的肢体被割裂、隔绝和强行拆散，因此，在这样的国家里我们也发现动物崇拜，即原始形式的动物宗教，因为人总是把构成其真正本质的东西当作最高的本质。动物实际生活中表现出来的唯一的平等，是特定种的动物和同种的其他动物之间的平等；这是特定的种本身的平等，但不是类的平等。动物的类本身只在不同种动物的敌对关系中表现出来，这些不同种的动物在相互的斗争中显露出各自特殊的不同特性。自然界在猛兽的胃里为不同种的动物准备了一个结合的场所、彻底融合的熔炉和互相联系的器官。在封建制度下也是这样，一种人靠另一种人为生，而最终是靠那种像水螅一样附在地上的人为生，后一种人只有许多只手，专为上等人攀摘大地的果实，而自身却靠尘土为生；因为在自然的动物王国，是工蜂杀死不劳而食的雄蜂，而在精神的动物王国恰恰相反，是不劳而食的雄蜂杀死工蜂——用劳动把它们折磨死。当特权者不满足于制定法而诉诸自己的习惯法时，他们所要求的并不是法的人类内容，而是法的动物形式，这种形式现在已丧失其现实性，变成了纯粹的动物假面具。
  </p>
  <p>
    贵族的习惯法按其内容来说是同普通法律的形式相对立的。它们不能具有法律的形式，因为它们是无视法律的形态。这些习惯法按其内容来说是同法律的形式即通用性和必然性的形式相矛盾的，这也就证明，它们是习惯的不法行为，因此，决不能违反法律而要求这些习惯法，相反，应该把它们当作同法律对立的东西加以废除，甚至对利用这些习惯法的行为还应根据情况给以惩罚。要知道，一个人的行为方式并不因为已成为他的习惯就不再是不法行为，正如强盗儿子的抢劫行为并不能因为他的特殊家风而被宽恕一样。如果一个人故意犯法，那么就应惩罚他这种明知故犯；如果他犯法是由于习惯，那就应惩罚他这种不良习惯。在实施普通法律的时候，合理的习惯法不过是制定法所认可的习惯，因为法并不因为已被确认为法律而不再是习惯，但是它不再仅仅是习惯。对于一个守法者来说，法已成为他自己的习惯；而违法者则被迫守法，纵然法并不是他的习惯。法不再取决于偶然性，即不再取决于习惯是否合理；恰恰相反，习惯所以成为合理的，是因为法已变成法律，习惯已成为国家的习惯。
  </p>
  <p>
    因此，习惯法作为与制定法同时存在的一个特殊领域，只有在法和法律并存，而习惯是制定法的预先实现的场合才是合理的。因此，根本谈不上特权等级的习惯法。法律不但承认他们的合理权利，甚至经常承认他们的不合理的非分要求。特权等级没有权利预示法律，因为法律已经预示了他们的权利可能产生的一切结果。因此，他们坚持要求习惯法，只不过是要求提供能够得到小小乐趣的领地，目的是要使那个在法律中被规定出合理界限的内容，在习惯中为超出合理界限的怪癖和非分要求找到活动场所。
  </p>
  <p>
    然而，贵族的这些习惯法是同合理的法的概念相抵触的习惯，而贫民的习惯法则是同实在法的习惯相抵触的法。贫民的习惯法的内容并不反对法律形式，它反对的倒是自己本身的不定形状态。法律形式并不同这一内容相抵触，只是这一内容还没有具备这种形式。只要稍加思考，就能看出开明的立法是如何片面地对待并且不得不这样对待贫民的习惯法，各种不同的日耳曼法[97]可以看作是这些习惯法的最丰富的源泉。
  </p>
  <p>
    各种最自由的立法在私法方面，只限于把已有的法表述出来并把它们提升为普遍的东西。而在没有这些法的地方，它们也不去加以制定。它们取消了各种地方性的习惯法，但是忘记了各等级的不法行为是以任意的非分要求的形式出现的，而那些等级以外的人的法是以偶然让步的形式出现的。这些立法对于那些既有法而又有习惯的人是处理得当的，但是对于那些没有法而只有习惯的人却处理不当。这些立法只要认为任意的非分要求具有合理的法理内容，它们就把这些要求变成合法的要求；同样，它们也应该把偶然的让步变成必然的让步。我们可以举一个例子，即修道院的例子来说明这一点。修道院被废除了，它们的财产被收归俗用了，这样做是正确的。但是另一方面，贫民过去从修道院那里得到的偶然救济并没有被任何其他具体的收入来源所代替。当修道院的财产变成私有财产时，修道院得到了一定的赔偿；但是那些靠修道院救济过活的贫民并没有得到任何赔偿。不仅如此，还为贫民设置了新的限制，切断了他们同旧有的法的联系。在所有把特权变成法的过程中都曾有过这种现象。这种对法的滥用行为的肯定方面，就它把某一方面的法变成偶然而言，也是一种对法的滥用行为；现在人们把这种肯定方面取消了，但取消的办法不是把偶然变成必然，而是把偶然弃置不顾。
  </p>
  <p>
    这些立法必然是片面的，因为贫民的任何习惯法都基于某些财产的不确定性。由于这种不确定性，即不能明确肯定这些财产是私有财产，也不能明确肯定它们是公共财产，它们是我们在中世纪一切法规中所看到的那种私法和公法的混合物。立法借以了解这种二重形式的器官就是理智；理智不但本身是片面的，而且它的重要的职能就是使世界成为片面的，这是一件伟大而惊人的工作，因为只有片面性才会从无机的不定形的整体中抽出特殊的东西，并使它具有一定形式。事物的性质是理智的产物。每一事物要成为某种事物，就应该把自己孤立起来，并成为孤立的东西。理智把世界的每项内容都纳入固定的规定性之中，并把流动的东西固定化，从而就产生了世界的多样性，因为没有许多的片面性，世界就不会是多面的。
  </p>
  <p>
    因此，理智取消了财产的二重的、不确定的形式，而采用了在罗马法中有现成模式的抽象私法的现有范畴。立法的理智认为，对于较贫苦的阶级来说，它取消这种不确定的财产所负的责任是有道理的，尤其是因为它已取消了国家对财产的特权。然而它忘记了，即使纯粹从私法观点来看，这里也存在两种私法：占有者的私法和非占有者的私法，更何况任何立法都没有取消过国家对财产的特权，而只是去掉了这些特权的偶然性质，并赋予它们以民事的性质。但是，如果说一切中世纪的法的形式，其中也包括财产，从各方面来说都是混合的、二元的、二重的，理智有理由用自己的统一原则去反对这种矛盾的规定，那么理智忽略了一种情况，即有些所有物按其本质来说永远也不能具有那种预先被确定的私有财产的性质。这就是那些由于它们的自然发生的本质和偶然存在而属于先占权范围的对象，也就是这样一个阶级的先占权的对象，这个阶级正是由于这种先占权而丧失了任何其他财产，它在市民社会中的地位与这些对象在自然界中的地位相同。
  </p>
  <p>
    我们将会看到，作为整个贫苦阶级习惯的那些习惯能够以可靠的本能去理解财产的这个不确定的方面，我们将会看到，这个阶级不仅感觉到有满足自然需要的欲望，而且同样也感到有满足自己正当欲望的需要。枯枝就是一个例子。正如，蜕下的蛇皮同蛇已经不再有有机联系一样，枯枝同活的树也不再有有机联系了。自然界本身仿佛提供了一个贫富对立的实例：一方面是脱离了有机生命而被折断了的干枯的树枝树杈，另一方面是根深叶茂的树和树干，后者有机地同化空气、阳光、水分和泥土，使它们变成自己的形式和生命。这是贫富的自然表现。贫民感到与此颇有相似之处，并从这种相似感中引伸出自己的财产权；贫民认为，既然自然的有机财富交给预先有所谋算的所有者，那么，自然的贫穷就应该交给需要及其偶然性。在自然力的这种活动中，贫民感到一种友好的、比人类力量还要人道的力量。代替特权者的偶然任性而出现的是自然力的偶然性，这种自然力夺取了私有财产永远也不会自愿放手的东西。正如富人不应该要求得到大街上发放的布施一样，他们也不应该要求得到自然界的这种布施。但是，贫民在自己的活动中已经发现了自己的权利。人类社会的自然阶级在捡拾活动中接触到自然界自然力的产物，并把它们加以处理。那些野生果实的情况就是这样，它们只不过是财产的十分偶然的附属品，这种附属品是这样的微不足道，因此它不可能成为真正所有者的活动对象；捡拾收割后落在地里的谷穗以及和诸如此类的习惯法也是这样。
  </p>
  <p>
    由此可见，在贫苦阶级的这些习惯中存在着合乎本能的法的意识，这些习惯的根源是实际的和合法的，而习惯法的形式在这里更是合乎自然的，因为贫苦阶级的存在本身至今仍然只不过是市民社会的一种习惯，而这种习惯在有意识的国家制度范围内还没有找到应有的地位。
  </p>
  <p>
    我们所考察的辩论就是人们怎样对待这些习惯法的例证，它充分反映了整个讨论的方法和精神。
  </p>
  <p>
    一位城市代表［注：约·亨·鲍尔。——编者注］反对把采集覆盆子和越桔也当作盗窃处理的规定。他主要是为贫民的孩子辩护，这些孩子们采集野果，帮父母挣几个零钱；这是从远古以来就为所有者们所许可的，因此也就产生了儿童的习惯法。然而这一事实却遭到另一位代表［注：约·洛埃。——编者注］的反驳，据他说：“在他那个地区，这些野果已经成为交易品，并成桶地运往荷兰。”［注：《第六届莱茵省议会会议记录》1841年科布伦茨版第28页。——编者注］
  </p>
  <p>
    的确，有一个地方已经把穷人的习惯法变成了富人的独占权。这就充分证明，公共财产是可以独占的；从这里自然就得出结论说，公共财产是应该被独占的。事物的本质要求独占，因为私有财产的利益想出了这个主意。某些财迷心窍的生意人想出的时髦主意，只要能使枯枝给原始条顿式的土地占有者带来利益，就不会引起任何异议。
  </p>
  <p>
    明智的立法者预防罪行是为了避免惩罚罪行。但是，他预防的办法不是限制法的领域，而是给法提供实际的活动领域，从而消除每一个法的动机中的否定本质。他不是局限于替某个阶级的成员消除一切使他们不能进入更高合法领域的东西，而是给这一阶级本身以运用法的现实可能性。但是，如果说国家在这方面不够仁慈、富裕和慷慨，那么，立法者的责无旁贷的义务起码是，不要把那种仅仅由环境造成的过错变成犯罪。他必须以最伟大的仁慈之心把这一切当作社会混乱来加以纠正，如果把这些过错当作危害社会的罪行来惩罚，那就是最大的不法。不然，他就会反对社会要求，还以为反对的是这些要求的危害社会的形式。总之，在民间的习惯法受压制的地方，遵循这些习惯法的做法，只能作为单纯违反警章规定的行为来对待，无论如何不能当作犯罪来惩罚。违警处罚是用来对付那种根据情节可称为外部混乱而不破坏永久法律秩序的行为的一种手段。处罚不应该比过错引起更大的恶感，犯罪的耻辱不应该变成法律的耻辱。如果不幸成为犯罪或者犯罪成为不幸，那么这就会破坏国家的基础。省议会与这种看法相去很远，它根本不遵守立法的首要规则。
  </p>
  <p>
    利益的狭隘小气、愚蠢死板、平庸浅薄、自私自利的灵魂只是看到自己吃亏的事情；就好比一个粗人因为一个过路人踩了他的鸡眼，就把这个人看作天底下最可恶和最卑鄙的坏蛋。他把自己的鸡眼当作观察和判断人的行为的眼睛。他把过路人和自己接触的那一点当作这个人的本质和世界的唯一接触点。然而，有人可能踩了我的鸡眼，但他并不因此就不是一个诚实的、甚至优秀的人。正如你们不应该从你们的鸡眼的立场来评价人一样，你们也不应该用你们私人利益的眼睛来看待他们。私人利益把一个人触犯它的行为夸大为这个人的整个为人。它把法律变成一个只考虑如何消灭有害鼠类的捕鼠者，捕鼠者不是自然科学家，因此他只把老鼠看作有害的动物。但是，国家不应该把违反林木管理条例者只看作违法者、森林的敌人。难道每一个公民不都是通过一根根命脉同国家有着千丝万缕的联系吗？难道仅仅因为这个公民擅自割断了某一根命脉，国家就可以割断所有的命脉吗？可见，国家也应该把违反林木管理条例者看作一个人，一个和它心血相通的活的肢体，看作一个保卫祖国的士兵，一个法庭应倾听其声音的见证人，一个应当承担社会职能的集体的成员，一个备受崇敬的家长，而首先应该把他看作国家的一个公民。国家不能轻率地取消自己某一成员的所有职能，因为每当国家把一个公民变成罪犯时，它都是截断自身的活的肢体。有道德的立法者首先应当认定，把过去不算犯罪的行为列入犯罪行为的领域，是最严重、最有害而又最危险的事情。
  </p>
  <p>
    然而，利益是讲求实际的，世界上没有比消灭自己的敌人更实际的事情了!夏洛克就曾经教导说：“谁憎恨一个东西而又不想置它于死地呢？”［注：莎士比亚《威尼斯商人》第4幕第1场。——编者注］真正的立法者除了不法行为之外，不应该害怕任何东西，但是作为立法者的利益却只知道害怕法的后果，害怕为非作歹的人，因而就颁布法律来对付他们。残酷是怯懦所制定的法律的特征，因为怯懦只有变成残酷时才能有所作为。私人利益总是怯懦的，因为那种随时都可能遭到劫夺和损害的身外之物，就是私人利益的心和灵魂。有谁会面临失去心和灵魂的危险而不战栗呢？如果自私自利的立法者的最高本质是某种非人的、异己的物质，那么这种立法者怎么可能是人道的呢？《国民报》谈到基佐时说道：“当他害怕的时候，他是可怕的。”这句格言可以作为一切自私自利的和怯懦的立法的写照。
  </p>
  <p>
    萨莫耶德人[98]杀死野兽时，在剥皮之前郑重其事地向它申明，只有俄罗斯人才使它遭殃，宰割它的是俄罗斯人的刀子，因此只应该向俄罗斯人报仇。现在有人居然不用扮成萨莫耶德人就直接把法律变成了俄罗斯人的刀子。现在我们就来看看这种变法吧！
  </p>
  <p>
    关于第4条，委员会提议：“凡超出两英里以外者，由前来告发的护林官员根据当地现行价格确定价值。”［注：《第六届莱茵省议会会议记录》1841年科布伦茨版第22页。——编者注］
  </p>
  <p>
    一位城市代表［注：约·弗·布鲁斯特。——编者注］表示反对这一提案：“让报告盗窃情况的护林官员确定被窃林木价格的这个提案，是非常危险的。当然应该信任这位前来告发的官员，但是只能在确定事实方面，而决不能在确定被窃物的价值方面信任他。价值应该根据地方当局提出的并由县长批准的价格来确定。曾有人提议否决第14条，因为根据这一条，罚款是为林木所有者征收的”［注：《第六届莱茵省议会会议记录》1841年科布伦茨版第22页。——编者注］等等。“如果保留第14条，那么上面的规定就更加危险，因为护林官员是为林木所有者效力并从林木所有者那里领取薪俸的，他们会尽可能高估被窃林木的价值，这是理所当然的。”［注：《第六届莱茵省议会会议记录》1841年科布伦茨版第22页。——编者注］省议会批准了委员会的提案。
  </p>
  <p>
    我们在这里看到的是领主裁判权[99]的制定。维护领主利益的奴仆在某种程度上同时又是宣判人。价值的决定构成了判决的一部分。因此，判决的一部分已经预先在告发记录中被决定了。前来告发的护林官员坐在审判席上，他是鉴定人，他的意见法庭必须听取，他执行的是一种排除其他法官参加的职能。既然甚至还有领主的宪兵和告发者同时进行审判，那么反对异端裁判所式的审判程序就是荒诞无稽了。
  </p>
  <p>
    即使不谈这种行为根本违反我们的法规，只要考察一下前来告发的护林官员的性质也就会明白，客观上他是不能同时兼任被窃林木的估价者的。
  </p>
  <p>
    作为护林官员，他就是护林神的化身。守护，而且是亲身守护，要求护林人切实有效、认真负责和爱护备至地对待自己所保护的对象，就好像他和林木已合为一体。对他来说，林木应该是一切，应该具有绝对的价值。估价者则恰恰相反，他用怀疑的不信任的态度来对待被窃林木，用敏锐的平淡的目光来评价它，用普通的尺度来衡量它，锱铢必较地计算它的价值。护林人不同于估价者，就像矿物学家不同于矿物商一样。护林官员不能估量被窃林木的价值，因为他每次在笔录中确定被窃物的价值时，也就是在确定自己本身的价值，即自己本身活动的价值；因此，难道你们能够设想，他保护自己客体的价值会不如保护自己的实体吗？
  </p>
  <p>
    一个把残忍当作职责的人所承担的这两种活动是互相矛盾的，这不仅在涉及守护对象时是这样，而且在涉及有关人员时也是这样。
  </p>
  <p>
    作为护林官员，护林人应该维护私有者的利益，但是作为估价者，他又应该保护违反森林管理条例者的利益，防止私有者提出苛刻的要求。他可能会用拳头为林木的利益服务，同时他又应该用头脑为林木敌人的利益服务。一方面，他是林木所有者利益的化身，另一方面，他又应该是反对林木所有者利益的保障。
  </p>
  <p>
    其次，护林官员就是告发者。笔录就是告发书。因此，实物的价值就成为告发的对象；这样一来，护林官员丧失了自己身为法官的尊严，而法官的职能也受到莫大的侮辱，因为这时法官的职能同告发者的职能已毫无区别了。
  </p>
  <p>
    最后，这个前来告发的护林官员是受林木所有者的雇用并为林木所有者效力的，不论作为告发者或护林官员，他都不宜充当鉴定人。如果有理由这样做，那么也同样有理由让林木所有者自己经过宣誓后来估价，因为林木所有者实际上是把他的护林奴仆仅仅当作第三者的角色来对待的。
  </p>
  <p>
    但是，省议会并不认为前来告发的护林官员的这种地位是有问题的，相反，它认为关于前来告发的护林官员的终身任命的规定，即在林木特权统治这个领域内留给国家的最后一丝权力的唯一规定有问题。这个规定遭到了最强烈的反对，报告人的下述解释也未能平息这一风暴：“前几届省议会已经要求废除护林官员的终身任命，但政府总是反对，并且把终身任命看作对臣民的一种保护。”［注：《第六届莱茵省议会会议记录》1841年科布伦茨版第27页。——编者注］
  </p>
  <p>
    可见，省议会早已就政府放弃对自己臣民的保护的问题同政府讲过价钱，而省议会仍然在讨价还价。现在我们就来看一看那些用来反对终身任命的既宽宏大量又无可辩驳的论据。
  </p>
  <p>
    一位乡镇代表［注：弗·阿尔登霍芬。——编者注］“认为，把护林官员的终身任命当作信任其证言的条件，这对小林木占有者是非常不利的；另一位代表［注：吉·伦辛。——编者注］则坚决主张，保护应该对大小林木所有者同样有效”。［注：《第六届莱茵省议会会议记录》1841年科布伦茨版第22页。——编者注］
  </p>
  <p>
    一位诸侯等级的代表［注：约·萨尔姆-赖弗沙伊德-戴克公爵。——编者注］指出：“对私人说来设置终身职位是很不合适的，在法国就完全不需要根据这一点才确信护林官员的笔录；但是为了防止违法事件的增加，必须采取某些措施。”［注：《第六届莱茵省议会会议记录》1841年科布伦茨版第22页。——编者注］
  </p>
  <p>
    一位城市代表［注：约·弗·布鲁斯特。——编者注］说：“应该相信那些按规定手续任命并宣过誓的护林官员的全部证言。在许多乡镇里，特别是对于小块土地所有者来说，实行终身任命制可以说是不可能的。如果决定只有终身任命的护林官员才可以信任，这种决定会使上述林木占有者的林木得不到任何保护。省内大部分地区的乡镇和私人占有者将会委托，而且不得不委托田地看守人来守护自己的林区，因为他们的林产不大，用不着雇用自己的护林官员。如果这些宣誓要兼管林木的田地看守人在证实林木被窃时得不到充分信任，而在对被发现的违反林木管理条例的行为进行告发时却又受到信任，岂非咄咄怪事。”［注：《第六届莱茵省议会会议记录》1841年科布伦茨版第26—27页。——编者注］
  </p>
  <p>
    城市、乡村和诸侯就是这样说的。他们不但不想消除违反林木管理条例者的权利和林木所有者的要求之间的距离，反而认为这一距离还不够大。在这里他们并不是想要同样地保护林木所有者和违反林木管理条例者，他们只是想把大小林木所有者一视同仁地加以保护。当问题涉及林木所有者时，大小林木所有者之间的完全平等就成为定理，而当问题涉及违反林木管理条例者时，不平等就变成公理。为什么小林木所有者要求得到和大林木所有者同样的保护呢？因为他们两者都是林木所有者。但是，难道林木所有者和违反森林管理条例者不都是国家的公民吗？既然大小林木所有者都有同样的权利要求国家的保护，那么，难道国家的大小公民不是更有同样的权利要求这种保护吗？
  </p>
  <p>
    当诸侯等级代表引证法国为例——利益不懂得政治上的反感——时，他只是忘了加一句：在法国，护林官员告发的是事实，而不是价值。同样，可敬的城市发言人也忘了，利用田地看守人在这里也是不容许的，因为问题不单是要查明林木被窃，而且还要确定被窃林木的价值。
  </p>
  <p>
    我们方才所听到的全部论断的本质是什么呢？有人说，小林木所有者没有资金雇用终身的护林官员。从这一论断可以得出什么结论呢？可以得出的结论是，小林木所有者不能担负这一任务。而小林木所有者又得出什么样的结论呢？他的结论是，他有权雇用短期的进行估价的护林官员。没有资金成了小林木所有者享有特权的根据。
  </p>
  <p>
    小林木所有者也没有资金来供养独立的审判庭。因此，让国家和被告放弃独立的审判庭吧，让小林木所有者的仆人来坐庭审判吧，如果他没有男仆，那么他的女仆也行，如果女仆也没有，他自己也行。难道被告对于作为国家机关的行政当局，对于司法当局就没有这种权利吗？既然如此，为什么不依照小林木所有者的资金情况来组织审判呢？
  </p>
  <p>
    国家和被告之间的关系能不能因私人即林木所有者资金缺乏而改变呢？国家对于被告享有某种权利，因为国家对于这个人是以国家的身分出现的。因此，就直接产生了国家的义务，即以国家的身分并按照国家的方式来对待罪犯。国家不仅有按照既符合自己的理性、自己的普遍性和自己的尊严，也适合于被告公民的权利、生活条件和财产的方式来行事的手段，国家义不容辞的义务就是拥有这些手段并加以运用。谁也不会要求林木所有者这样做，因为他的林木并不是国家，他的灵魂并不是国家的灵魂。由此可以得出什么样的结论呢？结论就是：因为私有财产没有办法使自己上升到国家的立场上来，所以国家就有义务使自己降低为私有财产的同理性和法相抵触的手段。
  </p>
  <p>
    私人利益的空虚的灵魂从来没有被国家观念所照亮和熏染，它的这种非分要求对于国家来说是一个严重而切实的考验。如果国家哪怕在一个方面降低到这种水平，即按私有财产的方式而不是按自己本身的方式来行动，那么由此直接可以得出结论说，国家应该适应私有财产的狭隘范围来选择自己的手段。私人利益非常狡猾，它会得出进一步的结论，把自己最狭隘和最空虚的形态宣布为国家活动的范围和准则。因此，且不说国家受到的最大屈辱，这里会得出截然相反的结果，有人会用同理性和法相抵触的手段来对付被告；因为高度重视狭隘的私有财产的利益就必然会转变为完全无视被告的利益。既然这里明显地暴露出私人利益希望并且正在把国家贬为私人利益的手段，那么怎能不由此得出结论说，私人利益即各个等级的代表希望并且一定要把国家贬低到私人利益的思想水平呢？任何现代国家，无论它怎样不符合自己的概念，一旦遇到有人想实际运用这种立法权利，都会被迫大声疾呼：你的道路不是我的道路，你的思想不是我的思想！
  </p>
  <p>
    有一个为了反对终身任命而提出的论据，最明显不过地证明，短期雇用负责告发的护林官员这一做法多么不恰当。决不能认为这个论据是偶然脱口而出的，因为它是被宣读出来的。省议会的一位城市等级代表［注：约·舒哈德。——编者注］宣读了下面的意见：“终身任命的乡镇护林人没有而且也不可能像王室官吏那样地受到严格的监督。忠实地履行职责的一切动力［注：德文“Sporn”的本义是“马刺”，转义为“动力”，下文中马克思提到的“马刺”即由此而来。一编者注］都由于终身任命而失去作用。护林人即使只完成自己的一半职责，只要他不想因某些实际过错而被控诉，他也总会找到足够的辩解理由，使别人对他无法运用关于免职事宜的第56条。在这种情况下，有关方面甚至不敢提出免职的问题。”［注：《第六届莱茵省议会会议记录》1841年科布伦茨版第27页。——编者注］
  </p>
  <p>
    我们要提醒大家，当问题涉及授予前来告发的护林官员以估价的权力时，曾宣布对他充分信任。我们还要提醒大家，第4条曾是对护林官员的一次信任投票。
  </p>
  <p>
    而现在我们第一次得知，前来告发的护林官员需要加以监督，并且需要严格地加以监督。现在他第一次不仅作为一个人，而且作为一匹马出现，因为马刺和粮草是唯一能激发他的良心的刺激剂；由于终身任命，他那履行职责的肌肉不仅会松弛，而且会完全麻痹。人们看到，自私自利用两种尺度和两种天平来评价人，它具有两种世界观和两副眼镜，一副把一切都变成黑色，另一副把一切都变成彩色。当需要牺牲别人来充当自己的工具时，当需要粉饰自己的不正当的手段时，自私自利就戴上彩色眼镜，这样一来，它的工具和手段就呈现出一种非凡的灵光；它就用温柔而轻信的人所具有的那种渺茫、甜蜜的幻想来哄骗自己和别人。它脸上的每一条皱纹都呈现出善良的微笑。它把自己敌人的手握得发痛，但这是出于信任。但是，突然问题涉及到了自身的好处，涉及到要在舞台幻影已经消失的幕后仔细地检查工具和手段的效用了。这时，精通人情世故的自私自利便小心翼翼、疑虑重重地戴上深谙处世秘诀的黑色眼镜，实际的眼镜。自私自利像老练的马贩子一样，把人们仔仔细细、毛发不漏地打量一遍，以为别人一个个也像它一样渺小、卑鄙和肮脏。
  </p>
  <p>
    我们不准备同自私自利的世界观进行争论。但是我们要迫使它始终如一。我们不想让它独占一切处世秘诀而把幻想留给别人。让我们用私人利益的诡辩精神来审视一下它自己的结论吧。
  </p>
  <p>
    如果前来告发的护林官员就像你们所描绘的那样，终身任命并不能使他在履行自己职责时具有独立、自信和尊严的感觉，相反，却使他失去了履行职责的一切动力，那么这个人一旦成为供你们任意驱使的、百依百顺的奴仆，我们还能够指望他会对被告采取公正态度吗？如果只有马刺才能使这个人完成自己的职责，而这些马刺又正是带在你们脚上，那么我们能够预料没有带任何马刺的被告将会是什么命运呢？既然你们都不能对这些人实行足够严格的监督，那么国家和受害的一方又怎么监督他们呢？你们谈到终身任命问题时说：“护林官员即使只完成自己的一半职责，他也总会找到足够的辩解理由，使别人对他无法运用关于免职事宜的第56条。”难道这种情况在任命可以撤销的情况下不是更会发生吗？如果护林官员完成自己的一半职责，即保护了你们的利益，难道你们不会全都成为他们的代言人吗？
  </p>
  <p>
    对护林人的天真的、溢于言表的信任变成为对他骂骂咧咧、指责挑剔的不信任，这给我们揭露出事情的要害。你们并不是对护林人，而是对你们自己表示这样大的信任，并且还要求国家和违反林木管理条例者把对你们的信任当作自己的信条。
  </p>
  <p>
    有人说，不是护林人的职位、誓言和良心会成为被告对付你们的保障，不是的，而是你们的法的意识、仁慈、大公无私和自我克制才会成为被告对付护林人的保障。你们的监督是被告最后的也是唯一的保障。由于你们对自己的优越性抱有模糊的看法，由于你们沉溺于诗意的自我陶醉之中，你们向当事人提出把你们个人的品质当作对付你们的法律的自我保护手段。我要承认，我不同意这种对林木所有者的浪漫看法。我根本不认为个人应该成为对付法律的保障；相反，我认为法律应该成为对付个人的保障。即使是最大胆的幻想能不能设想，那些在立法这种崇高事业中一分钟也不能摆脱狭隘的、实际上卑鄙的自私心理而达到普遍和客观观点的理论高度的人，那些一想到将来要吃亏就全身发抖，为了保护自己的利益可以不择手段的人，在实际危险面前会成为哲学家呢？然而，任何人，甚至最优秀的立法者也不应该使他个人凌驾于他的法律之上。任何人都无权命令别人对自己投信任票，因为这种投票对第三者带来后果。
  </p>
  <p>下述事实可以说明，你们是否有权要求别人对你们表示特别的信任。</p>
  <p>
    一位城市代表［注：约·弗·布鲁斯特。——编者注］宣称：“他必须反对第87条，因为该条的规定会引起不着边际的和毫无结果的调查，从而使人身自由和交往自由受到侵犯。决不能事先就认定某人是罪犯，也不能在尚未证明确有不端行为之前立刻假定有不端行为。”［注：《第六届莱茵省议会会议记录》1841年科布伦茨版第29页。——编者注］
  </p>
  <p>
    另一位城市代表［注：约·亨·鲍尔。——编者注］说，这一条应该删掉，因为“任何人都应该说明他的木柴是从哪里来的”［注：《第六届莱茵省议会会议记录》1841年科布伦茨版第29页。——编者注］这一令人恼火的规定(根据这项规定，每个人都有盗窃或窝赃的嫌疑)，是对公民生活的粗暴的侵犯和侮辱。但这一条被通过了。
  </p>
  <p>
    如果人们必须把对自己有害的事表示不信任，对你们有利的事表示信任宣布为公理；如果人们必须用你们私人利益的眼睛来观察并以你们私人利益的心灵来感受他们的信任和不信任，那么你们对人们的要求就实在太不合逻辑了。
  </p>
  <p>
    有人还搬出一个理由来反对终身任命，至于这个理由的特点主要是可鄙还是可笑，现在还意见不一。
  </p>
  <p>
    “私人的自由意志以这种方式受到如此严格的限制，也是不能容许的；因此，只能允许有可撤换的任命。”［注：《第六届莱茵省议会会议记录》1841年科布伦茨版第27页。——编者注］
  </p>
  <p>
    这确实是一个既令人愉快而又出人意料的新闻：人具有一种可以不受任何方式限制的自由意志。到现在为止，我们所听到的格言很像多多纳[100]古代神托所的预言，因为两者的根据都是树木。但是，自由意志并没有等级的特性。我们究竟应如何来了解意识形态的这一突然的造反表现[101]呢？要知道，我们在思想方面所遇到的只是些拿破仑的追随者。
  </p>
  <p>
    林木所有者的意志要求给予它自由，使它能以最方便、最合适而又最省钱的方式来处置违反林木管理条例者。这种意志希望国家把坏人交给它随意处理。它要求全权。它并不是反对限制自由意志，而是反对这种限制的方式，因为这种方式是如此严格，以致它不仅涉及违反林木管理条例者，而且还涉及林木占有者。难道这种自由意志不希望有很多的自由吗？这不是很自由的、非常自由的意志吗？在19世纪，居然有人敢“以这种方式如此严格地”限制那些颁布法律的私人的自由意志，这不是一件闻所未闻的事情吗？这确是一件闻所未闻的事情。
  </p>
  <p>
    顽强的改革者即自由意志也被归入由利益的诡辩牵着鼻子走的那一串充足理由之列了。不过，这种自由意志应该懂得待人接物之道，它应该成为谨言慎行的、忠顺的自由意志，成为善于使自己活动范围同那些享有特权的私人的任意的活动范围相一致的自由意志。自由意志总共才被提到过一次，但就在这仅有的一次中，它却表现为一个敦实的私人，竟用林木去打击合理意志的精神。实际上，当意志像锁在大桡船上划桨的奴隶那样被锁在极其渺小而狭隘的利益上时，这种精神还能做什么呢？
  </p>
  <p>
    在下面这个把我们所考察的关系弄得头脚倒置的意见中，集中地表现了整个这一议论的顶点：“让王国护林官员和猎区官员获得终身任命吧；但在乡镇和私人方面，这种做法引起了极大的疑虑。”［注：《第六届莱茵省议会会议记录》1841年科布伦茨版第27页。——编者注］
  </p>
  <p>
    好像唯一值得疑虑的并不在于私人的奴仆代替国家职员行事！好像终身任命不正是用来对付那些值得疑虑的私人！没有什么东西比荒唐的逻辑更可怕的了，也就是说，没有什么东西比自私的逻辑更可怕的了。
  </p>
  <p>
    这种把林木所有者的奴仆变为国家权威的逻辑，使国家权威变成林木所有者的奴仆。整个国家制度，各种行政机构的作用都应该脱离常规，以便使一切都沦为林木所有者的工具，使林木所有者的利益成为左右整个机构的灵魂。一切国家机关都应成为林木所有者的耳、目、手、足，为林木所有者的利益探听、窥视、估价、守护、逮捕和奔波。
  </p>
  <p>
    委员会建议在第62条的最后加上下述要求：违法者无力赔偿时，需由当地的收税人、乡镇长及两个乡镇负责人加以证明。一位乡镇代表［注：泰·门格尔比尔。——编者注］认为，收税人参与此事是和现行立法相抵触的。显然，这一情况并没有引起丝毫注意。
  </p>
  <p>
    在讨论第20条的时候，委员会建议：“在莱茵省，合法的林木所有者应有权将犯罪分子送交地方当局去实行监督劳动，用这些人的劳动日来抵偿林木所有者对乡镇应尽的修筑公共道路的义务。”［注：《第六届莱茵省议会会议记录》1841年科布伦茨版第25页。——编者注］
  </p>
  <p>
    对此有人提出异议：“乡镇长不能成为个别乡镇成员的法律执行人，犯罪分子的劳动也不能抵偿那种应由雇用短工或仆人来完成的劳动。”［注：《第六届莱茵省议会会议记录》1841年科布伦茨版第25页。——编者注］
  </p>
  <p>
    报告人指出：“虽然督促心怀不满、性情暴躁的破坏森林的犯罪分子进行劳动对乡镇长先生说来确是一个负担，但是，使自己治下那些不顺从而心术不正的人安分守己，毕竟是这些官吏的职责；使犯罪分子改邪归正难道不是一件美好的事情吗？在农村，还有谁比乡镇长先生更有办法来做这件事呢？”［注：《第六届莱茵省议会会议记录》1841年科布伦茨版第26页。——编者注］
  </p>
  <div class="heti heti--ancient">
    <h2>
      列那狐<span class="heti-meta heti-small"
        >[德]<abbr title="号易安居士">歌德</abbr></span
      >
    </h2>
    <p class="heti-verse heti-x-large">
      骗子列那狐装出一副害怕和悲伤的神情<span class="heti-hang">，</span
      ><br />以引起那些心地善良的人的同情<span class="heti-hang">，</span
      ><br />兔子朗培显得特别难过<span class="heti-hang">。</span>
    </p>
  </div>
  <p>省议会通过了这个议案。</p>
  <p>
    为了使林木所有者先生不花分文就尽到自己对乡镇的义务，善良的乡镇长先生应该担起这副重担，去做这件美好的事情。林木所有者同样有理由可以把乡镇长当作厨师长或管家领班来使唤。难道乡镇长把自己所管辖的人的厨房和地窖管得井井有条不是一件美好的事情吗？但是，被判刑的罪犯并不是乡镇长所管辖的人，而是狱吏所管辖的人。如果乡镇长由乡镇的领导变成了个别乡镇成员的法律执行人，如果他由乡镇长变成典狱长，难道他不会失去他作为乡镇长的手段和尊严吗？如果把乡镇其他自由成员为公共利益而进行的诚实劳动贬低为替个别人卖力的劳役，难道这不是对这些乡镇成员的一种侮辱吗？
  </p>
  <p>
    但是，揭穿这种诡辩完全是多余的。让报告人先生本人劳神给我们谈谈，那些饱经世故的人们是怎么评价这些仁慈的词句的。在他的报告中，林木占有者以这样的口吻教训满口仁义道德的土地占有者：“假若地主田里的谷穗被人割走了，那么小偷会说：‘我没有吃的，所以我才从您那一大片地里拿走了几棵谷穗。’同样，盗窃林木者也会说：‘我没有柴烧，所以我才去偷林木。’地主有刑法典第444条的保护，该条规定偷割谷穗者处两年至五年的监禁。而林木所有者却没有这样强有力的保护。”［注：《第六届莱茵省议会会议记录》1841年科布伦茨版第26页。——编者注］
  </p>
  <p>
    最后一句话所流露出来的忌妒而眼红的心情，表达了林木所有者的全部信条。为什么当问题牵涉到我的利益时，你这个土地占有者就如此宽宏大量呢？因为你的利益已经有人照管了。因此，这里没有任何错觉！宽宏大量或者是分文不值，或者是有所进益。因此，你这个土地占有者是骗不了林木占有者的！而你这个林木占有者也休想欺骗乡镇长！
  </p>
  <p>
    如果说全部辩论没有证明那些充满仁义道德的论据在这里只不过是一些空话，那么，单单这一段插曲已可证明，“美好的事情”在我们的辩论中是多么没有意义了。但是利益连空话也是吝啬的。只有在空话有用，空话会带来显著效果时，利益才会编造空话。那时，利益便能说会道起来，血液也在它的血管中流动得更快。那时，甚至损人利己的美好事情也干得出来，恭维奉承的言词、悦耳动听的甜言蜜语也说得出来。而这一切的一切都是被用来达到一个目的：把违反林木管理条例的行为变为林木所有者的流通硬币，把违反林木管理条例者变成一项收入，使自己获得更有利的投资机会，因为对林木所有者来说，违反林木管理条例者已成为资本了。这里所谈的并不是滥用乡镇长的权力去为违反林木管理条例者谋取好处，而是滥用乡镇长的权力去为林木所有者谋取好处。就是在人们偶尔提到对违反条例者说来是很不可靠的好处的稀少场合，林木所有者的不容争辩的好处却是有保证的。命运是多么奇怪，事实是多么出人意外啊！
  </p>
  <p>还有一个例子说明报告中插入了这种仁慈的言论：</p>
  <p>
    报告人：“法国的法律不知道用林中强迫劳动来代替监禁，但是他认为这样的代替是一项聪明的慈善的措施，因为监禁并不是时时都能使犯人变好，相反，却常常使人变坏。”［注：《第六届莱茵省议会会议记录》1841年科布伦茨版第26页。——编者注］
  </p>
  <p>
    从前，有人把无罪者当作罪犯时，有一位代表在谈到捡拾枯枝的人时指出，在监狱中把这些人同惯偷关在一起，但是，那时认为监狱是好的。而现在教养院突然变成使人变坏的机关了，这是因为在目前说监狱使人变坏对林木所有者有利。他们把罪犯的改造了解为利息的增加；给林木所有者带来一笔利息，就是罪犯的崇高使命。
  </p>
  <p>
    利益是没有记忆的，因为它只考虑自己。它所念念不忘的只是一件东西，即它最关心的东西——自己。矛盾毫不使它惶惑不安，因为它不会和自身发生矛盾。它是经常随机应变的即兴作者，因为它没有一套体系，而只有临时的应急办法。
  </p>
  <p>
    可是，人道的和合法的根据只不过是我们这些愚蠢的人在舞会上称之为靠墙站的女人的那种东西。
  </p>
  <p>
    临时的应急办法是利益的推理机制中最常用的因素。在这些临时的应急办法中，我们发觉有两种办法在辩论中经常被当作基本范畴而重复使用，这就是“良好的动机”和“有害的后果”。我们看到，忽而是委员会的报告人，忽而是省议会的某一议员，用老练的、聪明的和良好的动机作为盾牌，去保护一切模棱两可的规定，使之免遭说这些规定自相矛盾的箭的攻击。我们看到，凡是从法的观点中引伸出来的结论，都被借口会产生有害的或可疑的后果而遭到否定。现在，我们就来谈一谈这种神通广大的应急办法，这种百用百灵、万无一失的最道地的应急办法。
  </p>
  <p>
    利益知道用法会产生有害后果的前景，用法会对外部世界产生影响来给法抹黑；它也知道用良好的动机，也就是通过追溯到不法的思想世界的内心深处去的方法来粉饰不法。法在外部世界的坏人中间产生不良的后果，而不法却发源于颁布关于不法行为的法令的高尚人物内心的良好动机。但是，这两者，即无论良好的动机还是有害的后果，都有一个共同的特征：它们不是根据事物本身的情况来对待事物，它们不把法当作独立的对象，而是离开法，把我们的注意力或者引到外部世界去，或者引到自己的头脑中去，从而在法的背后大耍花招。
  </p>
  <p>
    什么是有害的后果呢？我们的全部叙述都证明，这决不应该理解为对国家、对法律、对被告有害的后果。下面我们将简要地解释清楚，所谓有害的后果也不是指那些对公民安全有害的后果。
  </p>
  <p>
    我们从省议会议员本人那里已经听到，关于“任何人都应该说明他的木柴是从哪里来的”这一规定，是对公民生活的一种粗暴的侵犯和侮辱，对每个公民都是令人恼火的无理取闹。另一项规定则宣称每一个藏有偷来的木柴的公民都是小偷，尽管有一位代表［注：约·亨·鲍尔。——编者注］表明：“这对于某些诚实的人说来可能是危险的。只要有人向邻近的某家院子扔去几块偷来的木柴，就会使无辜的人受到惩罚。”［注：《第六届莱茵省议会会议记录》1841年科布伦茨版第27页。——编者注］
  </p>
  <p>
    第66条规定，凡购买非专卖扫帚者，一律拘禁四个星期至两年。一位城市代表［注：约·亨·鲍尔。——编者注］对这一条提出下列意见：“这一条款使埃尔伯费尔、伦纳普和索林根三个县的居民都有坐牢的危险。”［注：《第六届莱茵省议会会议记录》1841年科布伦茨版第28页。——编者注］
  </p>
  <p>
    最后，有人把对猎区警察和森林警察的监督和使用不仅变成了军队的权利，而且变成了军队的义务，虽然刑事诉讼条例第9条只提到官吏要受国家检察官的监督，因此，国家检察官可以直接追究官吏的刑事责任，而军队则不能这样做。上述规定既威胁着法庭的独立，也威胁着公民的自由和安全。
  </p>
  <p>
    可见，这里谈到的完全不是对公民安全的有害后果，相反，公民安全本身被看成是具有有害后果的一种情况。
  </p>
  <p>
    那么，究竟什么是有害的后果呢？凡损害林木所有者利益的东西就是有害的。所以，如果法的后果不会给林木所有者带来好处，那么，这就是有害的后果。在这里，利益是很有眼力的。以前肉眼看得见的东西它看不见，现在甚至只有用显微镜才看得清楚的东西它却看见了。整个世界都是它的眼中钉，都是一个充满危险的世界，因为世界并不是一种利益的世界，而是许多种利益的世界。私人利益把自己看作是世界的最终目的。因此，如果法不实现这个最终目的，那就是不合目的的法。因此，对私人利益有害的法就是具有有害后果的法。
  </p>
  <p>但是，良好的动机也许比有害的后果好些吧？</p>
  <p>
    利益不是在思索，它是在盘算。动机就是它的数字。动机是取消法的根据的动因；有谁会怀疑私人利益会有许多这种动因呢？动机的优点就在于它有随机的灵活性，它借助于这种灵活性可以抹杀客观事实，使自己和别人产生错觉，以为不需要考虑好事，只要干坏事时抱有良好的想法就行了。
  </p>
  <p>
    我们接着前面打断了的话头，首先对建议乡镇长先生去做的美好事情作若干补充。
  </p>
  <p>
    “委员会建议对第34条作如下修改：如果被告要求负责笔录的护林官员出庭，那么他应预先向林务法庭交纳有关的费用。”［注：《第六届莱茵省议会会议记录》1841年科布伦茨版第25页。——编者注］
  </p>
  <p>
    国家和法庭不应当无偿地为被告效劳。它们必须预先收费，显然，这也就预先使前来告发的护林官员和被告之间的对质变得更加困难了。
  </p>
  <p>
    美好的事情！独一无二的美好事情！整个王国都拥护这种美好的事情！但是，乡镇长先生完成法案中所指出的这件唯一的美好的事情，应该是为了林木所有者先生。乡镇长是美好事情的体现者，是美好事情的化身，人们怀着牺牲精神，忍痛把这副重担交给乡镇长，从而就把一系列美好的事情都彻底做完，永远结束了。
  </p>
  <p>
    如果说乡镇长先生为了国家的利益，为了从道义上挽救罪犯，应该比自己的义务做得更多，难道林木所有者先生为了同样的好事就不应该要求少得到一点自己的利益吗？
  </p>
  <p>
    有人可能以为，这个问题在前面谈到过的那部分辩论中已经得到了回答，但这是错误的。现在我们来看看惩罚的规定。
  </p>
  <p>
    “一位骑士等级的代表［注：爱·贝·特里普斯伯爵。——编者注］认为，林木所有者即使<除了单纯价值赔偿以外>还能得到罚款，这也仍不够补偿他的损失，因为这笔罚款往往是收不到手的。”［注：《第六届莱茵省议会会议记录》1841年科布伦茨版第23页。——编者注］
  </p>
  <p>
    一位城市代表［注：约·弗·布鲁斯特。——编者注］指出：“这一条(第15条)的规定会产生极其危险的后果。这样一来，林木所有者便得到三重补偿：价值，然后是四倍、六倍以至八倍的罚款，最后是损失的特别补偿；这种特别补偿往往是任意确定的，与其说是合乎实际的不如说是凭空虚构的结果。这位代表认为，无论如何必须规定，应把这种很成问题的特别补偿立刻提交林务法庭，由该法庭作出判决。必须提出证明损失的特别证据，不能仅仅以笔录作为凭据，这是理所当然的事情。”［注：《第六届莱茵省议会会议记录》1841年科布伦茨版第23页。——编者注］
  </p>
  <p>
    针对这个反对意见，报告人和另一位省议会议员［注：卡·弗·洛埃。——编者注］解释了这里所提到的额外价值[102]是怎样在他们所指的各种情况下取得的。这一条被通过了。
  </p>
  <p>
    罪行变成了彩票，林木所有者如果走运的话，甚至可能中彩。这里可能产生额外价值，因为即使他所得的只是单纯价值，但是由于四倍、六倍以至八倍的罚款，他仍然能赚一笔钱；如果他所获得的不只是单纯价值，同时还有损失的特别补偿，那么这种四倍、六倍以至八倍的罚款无论如何完全是白赚了。一位骑士等级的代表认为，应得的罚款由于往往收不到手而没有足够保证，确实，由于除罚款外还要索取价值和损失补偿，罚款是根本不可能收到手的。不过，我们将会看到，有人会使被告的这笔欠账不致落空。
  </p>
  <p>
    林木所有者除了像这里所说的那样使犯罪变成利息外，还会有更好的办法来保护自己的林木吗？他像一个聪明的统帅，把对方的进攻变成了一次万无一失的、稳操胜券的获胜的机会，因为甚至林木的额外价值，这种经济上的幻想，也通过盗窃而变成某种实体了。对于林木所有者来说，不仅他的林木，而且他用林木进行的牟利活动也应该受到保障，而他却以不给任何报酬的方式来表示他对自己的经纪人即国家的极易尽到的忠诚。把对罪行的惩罚由法对侵犯法的行为的胜利变成私利对侵犯私利的行为的胜利，这真是一种绝妙的想法。
  </p>
  <p>
    然而，我们提醒我们的读者要特别注意第14条的规定，在这里我们必须放弃把蛮族法典[97]看作是野蛮人的法律的习惯看法。惩罚本身作为法的恢复，本来应该不同于价值的赔偿和损失的补偿，不同于私有财产的恢复；但是，现在惩罚却由公众的惩罚变成对私人的赔偿了；罚款并未归入国库，而是落入林木所有者的私囊。
  </p>
  <p>
    虽然有一位城市代表［注：约·弗·布鲁斯特。——编者注］说：“这是同国家的尊严及认真执行刑法的原则相抵触的”［注：《第六届莱茵省议会会议记录》1841年科布伦茨版第23页。——编者注］；但是为了维护林木所有者的利益，一位骑士等级的代表［注：马·洛埃。——编者注］却诉诸省议会的法理感和公平感，也就是诉诸特殊的法理感和公平感。
  </p>
  <p>
    野蛮民族强迫犯了某种罪行的人给受害者一定的赔偿(罚金)。公众惩罚这一概念同那种把罪行只看作对个人的侵犯的观点正相对立。但是，必须再找出甘愿授权个人去同时实行私人惩罚和国家惩罚的民族和理论来。
  </p>
  <p>
    一定是十足的概念的混淆把省等级会议引上了歧途。而有立法权的林木所有者一时间就把自己作为立法者和林木所有者的身分混同起来。一次他作为林木所有者强迫小偷因偷窃林木而支付赔款，另一次他作为立法者强迫小偷因犯罪意图而支付罚款，而且很凑巧，两次的钱都为林木所有者所得。因此，我们看到的不是一种普通的领主权。我们通过公法时代到达了加倍的、多倍的世袭权利时代。世袭所有者利用屏弃他们要求的时代进步，以便窃取野蛮人世界观所固有的私人惩罚和现代人世界观所固有的公众惩罚。
  </p>
  <p>
    由于价值赔偿以及对损失的特别补偿，盗窃林木者和林木所有者之间的关系不再存在了，因为违反林木管理条例的行为已经彻底了结了。小偷和所有者双方都各归原位。林木所有者的利益在林木被窃时受到损害，是因为林木遭到了损失，而不是因为权利受到了侵犯。只是罪犯的可以感觉的那一面触犯了林木所有者的利益，犯罪行为的实质并不是对物质的林木侵犯，而是对林木的国家神经即财产权本身的侵犯，是不法意图的实现。难道林木所有者对小偷的合法意图也有私人要求吗？对重犯的加倍惩罚如果不是惩罚犯罪意图，又是什么呢？难道林木所有者可以在他无权提出私人要求的地方提出私人要求吗？难道林木所有者在林木被窃之前曾经是国家吗？不是，但是他在林木被窃之后却成为国家了。林木具有一种奇怪的特性：只要它被偷窃，它的占有者马上就会获得他以前并不具有的国家特性。其实，林木所有者只能收回被别人拿去的东西。如果把国家交还给他——既然他除了私人权利外，还获得处置违法者的国家权利，那就确实把国家交还给他了，——那么，国家也必定是他的失窃物了，因此，国家就必定是他的私有财产了。可见，盗窃林木者是第二个克里斯托弗尔，他不仅背走了偷来的木柴，而且也背走了国家。
  </p>
  <p>
    公众惩罚是用国家理性去消除罪行，因此，它是国家的权利，但是，它既然是国家的权利，国家就不能把它转让给私人，正如一个人不能把自己的良心让给别人一样。国家对罪犯的任何权利，同时也就是罪犯的国家权利。罪犯同国家的关系不可能由于中间环节的介入而变成同私人的关系。即使人们允许国家本身放弃自己的权利，即自杀而亡，国家放弃自己的义务毕竟不仅是一种疏忽，而且是一种罪行。
  </p>
  <p>
    可见，林木所有者既不能从国家获得实行公众惩罚的私人权利，他本身也没有任何实行惩罚的权利。但是，如果我在没有合法权利的情况下把第三者的罪行变成收入的主要来源，我这样做难道不就成为他的同谋者吗？难道仅仅因为他该受惩罚，而我坐享犯罪的好处，我就不是他的同谋者吗？如果私人滥用自己作为立法者的职权，以第三者的罪行为借口来窃取国家权利，他的罪名并不会因此而减轻。盗用公共的国家金钱是一种国事罪，难道罚款不也是公共的国家金钱吗？
  </p>
  <p>
    盗窃林木者偷了林木所有者的林木，而林木所有者却利用盗窃林木者来盗窃国家本身。第19条会证明这一点确实是多么正确；这里不仅要罚款，而且还要对被告进行人身处罚。第19条将违反森林管理条例者完全交给林木所有者处置，让违反森林管理条例者为他完成林中强迫劳动。有一位城市代表［注：约·弗·布鲁斯特。——编者注］认为，这“会引起许多麻烦。他只是提醒人们注意在问题涉及异性时这种惩罚方法会发生的危险”。［注：《第六届莱茵省议会会议记录》1841年科布伦茨版第25页。——编者注］
  </p>
  <p>
    一位骑士等级的代表［注：马·洛埃。——编者注］作了永远值得纪念的回答：“诚然，在讨论法案时预先讨论和确定它的各项原则是必要而合理的，但是既然这一点已经做了，就无须在讨论每一个别条款时再回过头来谈这些原则。”［注：《第六届莱茵省议会会议记录》1841年科布伦茨版第25页。——编者注］
  </p>
  <p>在他发言之后，这一条便毫无异议地通过了。</p>
  <p>
    只要巧妙地把坏原则作为出发点，你们就可以为坏结论找到不容争辩的法律条款作为根据。虽然你们可能以为，原则的不适当正是表现在它的结论的缺点上，但是，只要你们老于世故，你们就会懂得，聪明人是善于充分利用他曾经获得成功的东西的。唯一使我们惊异的是，为什么林木所有者不能用盗窃林木者来生自己的火炉。因为这里涉及的不是权利，而是省议会随便拿来作为根据的原则，所以完全可以作出这种结论。
  </p>
  <p>
    同刚刚确定的教条截然相反，只要大致回顾一下就可了解，在考察每一条款时重新讨论原则是多么必要，在对那些看来相互间没有联系并保持着相当距离的条款进行表决时，有人怎样骗取了代表的信任，让规定一个接着一个顺利通过了。第一个规定一旦通过，这个规定借以获得通过的那种条件的幌子后来也就扔掉不用了。
  </p>
  <p>
    在讨论第4条涉及授权前来告发的护林官员进行估价的时候，一位城市代表［注：约·弗·布鲁斯特。——编者注］指出：“如果关于罚款交归国库的议案不能通过，目前所审议的规定就具有加倍的危险。”［注：《第六届莱茵省议会会议记录》1841年科布伦茨版第22页。——编者注］
  </p>
  <p>
    显然，护林官员在为国家估价时并不像为自己的主人估价时那样想抬高价钱。但是，人们极其巧妙地对这一点不加讨论，而且装出一副样子，好像规定罚款归林木所有者的第14条可能会被否决似的。这样一来，第4条被通过了。表决了十条之后，终于轮到了会使第4条的含义发生变化并具有危险性的第14条。然而，这一联系却完全被忽视了，第14条被通过了，于是罚款就落入林木所有者的私囊。引用来为这一条辩护的主要的和唯一的根据，就是林木所有者的利益，据说，照价赔偿单纯价值似乎还不足于补偿他的利益。但在第15条中他们又忘了罚款已被表决归林木所有者所有，因而又发布命令，除赔偿单纯价值外，还给予林木所有者以损失的特别补偿，因为他本可以得到某些额外价值，就好像尽管得到了罚款，他还是什么也没有额外多得一样。有人甚至还说，罚款不总是都能得到手的。由此可见，起初他们还装装样子，好像只是由于钱他们才想取代国家的地位，但在第19条中就原形毕露了，他们不仅要罚款，而且要罪犯，不仅要人的钱袋，而且还要人本身。
  </p>
  <p>
    在这里，欺骗的方法是露骨的、赤裸裸的，而且用意十分明显，因为它已经毫不犹豫地宣布自己是原则了。
  </p>
  <p>
    显然，单纯价值和损失补偿只给予了林木所有者对违反林木管理条例者提出私人诉讼的权利，林木所有者可以向民事法庭提出这种诉讼。如果违反林木管理条例者无力付款，那么，林木所有者所处的情况也不过和任何一个拥有无力还账的债务人的私人一样，当然，这种情况并不赋予他对债务人实行强迫劳动、服劳役的权利，一句话，使债务人处于暂时的农奴状况的权利。那么林木所有者提出这种要求是依据什么呢？罚款。正如我们看到的，林木所有者既然要求把罚款归他所有，那么他除自己的私人权利外，也要求把惩罚违反林木管理条例者的国家权利归他所有，从而就取代了国家的地位。但是，林木所有者在把罚款归自己所有的同时，却巧妙地掩盖了他把惩罚权利本身也归自己所有的事实。过去他只把罚款当作单纯的金钱来谈，而现在他谈罚款指的却是惩罚，现在他扬扬得意地承认，他利用罚款把公共权利变成了自己的私人财产。人们并没有对这个犯罪的、令人愤怒的结论感到惊异而退缩，却正因为它是一个结论而加以利用。虽然一个正常人的理智断定，把某一个公民当作临时的农奴而让他完全受另一个公民的支配，这是同我们的法背道而驰的，而且也是同所有的法背道而驰的，但是，对此，他们却耸耸肩膀声称，原则早已讨论过了，——其实既没有原则，也没有讨论。就这样，林木所有者利用罚款，把违反林木管理条例者的人身骗到了手。只是第19条才暴露了第14条含糊其词的地方。
  </p>
  <p>
    因此，我们看到，第4条由于第14条本不应成立，第14条由于第15条本不应成立，第15条由于第19条本不应成立，而由于第19条表现出惩罚原则的全部弊端，从而使它本身和整个惩罚原则都不能成立。
  </p>
  <p>
    分而治之的原则不可能运用得比这更妙了。讨论前一条时不考虑后一条，而审议后一条时又忘记了前一条。这一条已经讨论过了，而那一条还没有讨论，因此，由于根据完全相反，两条都凌驾于任何讨论之上了。但是，“维护林木所有者利益的法理感和公平感”是一项公认的原则，而这种法理感和公平感同维护另外一些人的利益的法理感和公平感正相对立；这些人的财产只是生命、自由、人性以及除自身以外一无所有的公民的称号。
  </p>
  <p>瞧，我们扯得太远了。——林木所有者拿一块木头换得了曾是人的那种东西。</p>
  <p>夏洛克：博学多才的法官！判得好！来，准备！</p>
  <p>
    鲍细霞：且慢，还有别的话哩。这约上并没有允许你取他的一滴血，只是写着“一磅肉”，所以你可以照约拿一磅肉去，可是在割肉的时候，要是流下一滴基督徒的血，你的土地财产，按照威尼斯的法律，就要全部充公。
  </p>
  <p>葛莱西安诺：啊，公平正直的法官！听着，犹太人；啊，博学多才的法官！</p>
  <p>夏洛克：法律上是这样说吗？</p>
  <p>鲍细霞：你自己可以去查查看。</p>
  <p>现在，你们可以查看法律了！</p>
  <p>
    你们根据什么要求把违反林木管理条例者变成自己的农奴呢？根据罚款。我们已经指出，你们没有权利得到罚款。但是，我们姑且不谈论这个。你们的基本原则是什么呢？就是要确保林木所有者的利益，即使法和自由的世界会因此而毁灭也在所不惜。你们坚定不移地认定，违反林木管理条例者应当想尽一切办法赔偿你们林木所有者所遭受的损失。你们这种论据的坚实的木质基础已经完全腐朽，只要用健全理智的清风吹它一下，就会化为灰烬了。
  </p>
  <p>
    国家可以而且必须说：我保证法不受任何偶然事件的影响。在我这里只有法才是永恒不灭的，因此，我用消灭罪行来向你们证明罪行是会灭亡的。但是，国家不能而且不应该说：国家保证私人利益、一定的财产存在、一个林场、一棵树、一根树枝(和国家相比，一棵最大的树也抵不上一根树枝)不受任何偶然事件的影响，它们是永恒不灭的。国家不能够违反事物的本性，不能够保证有限的东西绝对不受其条件的影响，不受偶然情况的影响。国家不可能担保你们的财产在罪行发生以前不受任何偶然事件的影响，同样，罪行也不可能把你们的财产的这种不稳定性质变得稳定。既然你们的私人利益能够受到合理的法律和合理的预防措施的保护，那么，国家无论如何是保护你们的私人利益的，但是，对于你们向罪犯提出的私人诉讼，国家除了承认私人诉讼权即保护民事诉讼的权利以外，不能承认其他任何权利。如果你们由于罪犯无支付能力而不能通过这种途径获得补偿，那只能说，取得补偿的任何合法途径都没有了。世界不会因此而毁灭，国家也不会因此而脱离阳光照耀的正义大道，你们也应该知道，世上的一切都是暂时的，然而由于你们虔诚地笃信宗教，你们未必认为这是一件有趣的新闻，并且它也不会比风暴、火灾、发烧更使你们惊奇。如果国家想要把罪犯变成你们的暂时的农奴，那它就会为了你们的有限的私人利益而牺牲永恒不灭的法。这样它也就向罪犯证明了法的灭亡，而它本来是必须用惩罚来证明法是永恒不灭的。
  </p>
  <p>
    在菲力浦国王执政时期，安特卫普只要放水淹没它这个地区，便能够轻而易举地阻止住西班牙人的进攻[103]，但是屠户行会不同意这样做，因为牧场上牧放着该行会肥壮的牛群。你们要求国家放弃自己的精神领地，仅仅是为了替你们的木头报仇雪恨。
  </p>
  <p>
    我们还要介绍第16条中的几点次要规定。有一位城市代表［注：约·弗·布鲁斯特。——编者注］指出：“根据现行的立法，8天监禁折合5塔勒罚款。没有充分理由违背这一点。”［注：《第六届莱茵省议会会议记录》1841年科布伦茨版第24页。——编者注］(即规定把8天改成14天。)
  </p>
  <p>
    委员会建议对这一条作如下补充：“无论如何监禁不得少于24小时。”［注：《第六届莱茵省议会会议记录》1841年科布伦茨版第24页。——编者注］
  </p>
  <p>
    当有人指出这一最低限度太严厉时，一位骑士等级的代表［注：约·韦尔吉福瑟。——编者注］就反对道：“在法国森林法中，没有比3天更轻的惩罚。”［注：《第六届莱茵省议会会议记录》1841年科布伦茨版第24页。——编者注］
  </p>
  <p>
    省议会忽而反对法国法律的规定，主张不用8天监禁而用14天监禁来抵偿5塔勒，忽而又崇拜法国法律，拒绝把3天监禁改为24小时监禁。
  </p>
  <p>
    前面提到的那位城市代表继续说：“用14天监禁抵偿5塔勒罚款的做法，至少对于那些决不能当作罪行而严加惩罚的偷窃林木的行为来说，是很严厉的。这样做的结果就是，能够以金钱赎罪的有钱人只会受到普通的惩罚，而穷人则要受到加倍的惩罚。”［注：《第六届莱茵省议会会议记录》1841年科布伦茨版第24页。——编者注］
  </p>
  <p>
    一位骑士等级的代表［注：伦施男爵。——编者注］指出，克莱沃近郊之所以发生许多违反森林管理条例的事件，就是为了被送进拘留所去领一份监狱口粮。难道这位骑士等级的代表不正是证明了他想驳倒的事实，即正是饥饿和无家可归才迫使人们违反林木管理条例吗？难道这种可怕的贫困是加重罪名的根据吗？
  </p>
  <p>前面提到的那位城市代表继续讲道：</p>
  <p>
    “降低犯人伙食标准的做法在这里遭到了谴责，它是一种异常残酷的措施，特别是在实行强迫劳动的条件下是根本行不通的。”［注：《第六届莱茵省议会会议记录》1841年科布伦茨版第24页。——编者注］
  </p>
  <p>
    把犯人伙食标准降低到只供应水和面包的做法，受到多方面的指责，认为这样做太残酷了。但是，有一位乡镇代表［注：彼·本德尔。——编者注］指出，特里尔行政专区已实行了降低犯人伙食标准的措施，在那里，还被认为是一种非常有效的措施。
  </p>
  <p>
    为什么这位可敬的发言人恰好把面包和水，而不把省议会谈论得如此之多和如此之动人的宗教感的加强看作特里尔行政区收到良好效果的原因呢？当时谁曾经想到过，水和面包是真正的救世良方呢？在一些辩论中，有人曾经认为，英国的圣者议会[104]又复活了。现在怎样呢？代替祷告、信赖和赞美诗的是水和面包，是监狱和林中的强迫劳动！过去，省议会为了在天堂中给莱茵省居民准备好一个栖身之所，曾经不惜把好话说尽；而现在，为了用鞭子把整整一个阶级的莱茵省居民驱赶到林中去，在只给水和面包的条件下从事强迫劳动，——就是荷兰的种植场主也未必会想出这种办法来对待他的黑奴，——省议会又是多么不惜把好话说尽啊！这一切证明了什么呢？只证明了一点：谁不想成为人道的人，谁就容易成为圣者。对于下面这段话，人们将从这个意义上去理解：“有一个议员［注：约·亨·鲍尔。——编者注］认为，第23条规定是不人道的；但是尽管如此，这一条仍然被通过了。”［注：《第六届莱茵省议会会议记录》1841年科布伦茨版第25页。——编者注］
  </p>
  <p>除了不人道的性质以外，这一条款再也没有告诉我们任何别的东西。</p>
  <p>
    我们的全部叙述表明，省议会怎样把行政权、行政当局、被告的存在、国家观念、罪行本身和惩罚降低为私人利益的物质手段。因此，人们把法庭的判决只看作是一种手段，而把判决的法律效力看作是一种多余的累赘，这是合乎逻辑的。
  </p>
  <p>
    “委员会建议从第6条中删掉‘具有法律效力’这一说法，因为采用这一说法会给盗窃林木者以把柄，使他在缺席判决的情况下能逃脱再犯时所应受的更严厉的惩罚；但是许多代表［注：威·霍与布鲁斯特等人。——编者注］都反对这一点，他们说，必须反对委员会提出的关于从法案第6条中删掉‘具有法律效力的判决’这一说法的建议。这里，也像在条文中一样，给判决加上这一说明语，当然不是没有法律上的考虑的，如果法官的任何初次判决都足以作为加重惩罚的根据，那么，加重惩罚再犯者的意图当然就会更加容易而经常地得到实现了。但是，应该考虑一下，人们是否愿意以这种方式为了报告人在这里所强调的保护林木的利益而牺牲重要的法的原则。为了使还不具有法律效力的判决具有合法判决的性质而破坏诉讼程序的无可非议的基本原则，对此，人们是不能同意的。另一位城市代表［注：约·弗·布鲁斯特。——编者注］也提议拒绝委员会的修改，他认为这种修改违背了刑法的规定，因为根据刑法规定，在具有法律效力的判决没有确定初次惩罚之前，不能采取加重惩罚的办法，报告人反对这一点说：‘这一切是一种特殊的法律，所以，像提出来的这种特殊的规定在这里也是许可的。’委员会关于删掉‘具有法律效力’这一说法的建议被采纳了。”［注：《第六届莱茵省议会会议记录》1841年科布伦茨版第23页。——编者注］
  </p>
  <p>
    判决仅仅是为了确定再犯而存在的。对于私人利益的贪婪的焦虑来说，审判形式是迂腐的法律仪式所设置的累赘而多余的障碍。诉讼只不过是一支负责把敌人押解到牢狱里去的可靠的护送队，它只是执刑的准备。如果诉讼想超出这一点，它就会被人封住嘴巴。自私自利的恐惧心情非常细心地侦察、算计和推断：敌人可能怎样利用法的领域，而人们只要同敌人发生冲突就必须进入这个作为不可避免的祸害的领域，并且力图采取最审慎的反机动先于敌人到达这个领域。因此，人们就碰到了作为私人利益的无节制表现的障碍的法本身，并且把法看作是一种障碍。人们力图同法作交易，同法讨价还价，在这里或那里设法用低价从它那里买到某一基本原则。人们以乞求的口吻要求得到利益的法，以此来安抚法。人们拍拍它的肩膀并咬着耳朵轻声地说，这是例外，而没有例外的常规是不存在的，人们允许法对敌人采取恐怖手段和百般挑剔的办法，他们仿佛企图通过这种手段来对法作出补偿，因为他们在对待作为被告的保障和作为独立的对象的法时采取了一种圆滑的是非标准。法的利益只有当它是利益的法时才能说话，一旦它同这位圣者发生抵触，它就得闭上嘴巴。
  </p>
  <p>
    亲自惩罚过人的林木所有者做得十分彻底，现在他竟亲自进行审判了，因为当他把不具有法律效力的判决宣布为具有法律效力时，他显然是在进行审判，如果认为在立法者偏私的情况下可以有公正的法官，那简直是愚蠢而不切实际的幻想！既然法律是自私自利的，那么大公无私的判决还有什么用处呢？法官只能一丝不苟地表达法律的自私自利，只能无所顾忌地运用它。在这种情况下，公正是判决的形式，但不是判决的内容。内容已被法律预先规定了。如果诉讼无非是一种毫无内容的形式，那么这种形式上的琐事就没有任何独立的价值了。在这种观点看来，只要把中国法套上法国诉讼程序的形式，它就变成法国法了。但是，实体法却具有本身特有的必要的诉讼形式，正如中国法里面一定有笞杖，拷问作为诉讼形式一定是同严厉的刑罚法规的内容连在一起的一样，本质上公开的、受自由支配而不受私人利益支配的内容，一定是属于公开的自由的诉讼的。诉讼和法二者之间的联系如此密切，就像植物外形和植物本身的联系，动物外形和动物血肉的联系一样。使诉讼和法律获得生命的应该是同一种精神，因为诉讼只不过是法律的生命形式，因而也是法律的内部生命的表现。
  </p>
  <p>
    狄东［注：加里曼丹(婆罗洲)的一个地区。——编者注］的海盗抓到俘虏后，就打断他们的手脚，以便保证自己控制他们。为了保证自己对违反森林管理条例者的控制，省议会不仅打断了法的手脚，而且还刺穿了它的心。我们认为，省议会在恢复我们的诉讼的某些范畴方面的功绩完全等于零。相反，我们必须承认省议会在把不自由的形式赋予不自由的内容时所采取的那种坦诚和彻底的态度。既然有人把怕见公开性的阳光的私人利益的物质内容塞进了我们的法，就必须赋予这种内容以相应的形式，即秘密的程序，这样才至少不致引起和滋生任何危险的、自满的幻想。我们认为，目前莱茵省全体居民，特别是莱茵省法学家的义务，是要把主要注意力放在法的内容上面，免得我们最终只剩下一副空洞的假面具。如果形式不是内容的形式，那么它就没有任何价值了。
  </p>
  <p>
    刚才谈到的委员会的提案和省议会的投赞成票，是整个辩论的精彩场面，因为保护林木的利益和我们自己的法律所规定的各项法的原则之间的冲突，在这里进入了省议会的意识。于是，省议会对下述问题进行了表决：应该为了保护林木的利益而牺牲法的原则呢，还是应该为了法的原则而牺牲保护林木的利益，——结果利益所得票数超过了法的票数。人们甚至认识到了，这项法律是法律的例外，并由此得出一个结论，在这项法律中任何例外的规定都是允许的。省议会只限于得出立法者忽略了的那些结论。凡是立法者忘了说这里涉及法律的例外，而不涉及法律的地方，凡是在他提出法的观点的地方，我们的省议会都会出来非常得体地对他加以纠正和补充，并且凡是在法为私人利益制定了法律的地方，它都让私人利益为法制定法律。
  </p>
  <p>
    这样，省议会便彻底完成了自己的使命。它根据自己的任务，维护了一定的特殊利益并把它作为最终目的。至于说省议会在这里践踏了法，那么，这是它的任务直接产生的后果，因为利益就其本性来说是盲目的、无节制的、片面的，一句话，它具有无视法律的天生本能；难道无视法律的东西能够立法吗？正如哑巴并不因为人们给了他一个极长的话筒就会说话一样，私人利益也并不因为人们把它抬上了立法者的宝座就能立法。
  </p>
  <p>
    我们以厌恶的心情注视了这些枯燥无味的和浅薄庸俗的辩论，但是我们认为，我们有责任用这个例子来说明，一旦维护特殊利益的等级代表会议真的被赋予了立法的使命，究竟能从它那里期待什么。
  </p>
  <p>
    我们再重复说一遍，我们的省等级会议已经履行了自己作为省等级会议的使命，但是我们决不是想要为它辩护。莱茵省人应该在省等级会议中战胜等级，人应该战胜林木所有者。从法律上说，省等级会议不仅受权代表私人利益，而且也受权代表全省的利益，同时，不管这两项任务是多么矛盾，在发生冲突时却应该毫不犹豫地为了代表全省而牺牲代表特殊利益的任务。法的意识和法律意识是莱茵省人的最显著的地方特点。但是不言而喻，特殊利益既没有祖国意识，也没有省的观念，既没有一般精神，也没有乡土观念。有一些异想天开的作家喜欢把代表特殊利益看作是理想的浪漫主义、深邃的感情以及道德的个人形式和特殊形式的最丰富源泉。然而，与这些作家的论断完全相反，代表特殊利益会消灭一切自然差别和精神差别，因为这样做会把特定的物质和特定的奴隶般地屈从于物质的意识的不道德、不理智和无感情的抽象物抬上王位，用以代替这些差别。
  </p>
  <p>
    在西伯利亚也像在法国一样，林木仍然是林木，在堪察加也像在莱茵省一样，林木所有者仍然是林木所有者。因此，如果由林木和林木所有者本身来立法的话，那么这些法律之间的差别将只是立法的地理位置和立法时使用的语言不同而已。这种下流的唯物主义，这种违反各族人民和人类的神圣精神的罪恶，是《普鲁士国家报》正向立法者鼓吹的那一套理论的直接后果，这一理论认为，在讨论林木法的时候应该考虑的只是树木和森林，而且不应该从政治上，也就是说，不应该同整个国家理性和国家伦理联系起来来解决每一个涉及物质的课题。
  </p>
  <p>
    古巴野人认为，黄金是西班牙人崇拜的偶像。他们庆祝黄金节，围绕着黄金歌唱，然后把它扔进大海。如果古巴野人出席莱茵省等级会议的话，难道他们不会认为林木是莱茵省人崇拜的偶像吗？然而，下一次会议将会向他们表明，人们是把动物崇拜同拜物教联系在一起的。那时，为了拯救人，古巴野人将把兔子扔进大海里去。[105]
  </p>
</details>

<style>
  .heti {
    max-width: 100%;
    
  }
</style>
