.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  aspect-ratio: 1/0.5;
}

.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;

  &:hover {
    flex: 7;
  }
}

.item-1 {
  background-image: url('https://dlink.host/1drv/aHR0cHM6Ly8xZHJ2Lm1zL2kvcyFBb2VyMmNVNVNsT0ZpUHMtTlVqQk9lcFoxRHA2Vmc_ZT1jQmJTNmc.jpg');
}

.item-2 {
  background-image: url('https://dlink.host/1drv/aHR0cHM6Ly8xZHJ2Lm1zL2kvcyFBb2VyMmNVNVNsT0ZpUDB6NjcxZEoyN044UnF1N1E_ZT1uNWZwYWI.jpg');
}

.item-3 {
  background-image: url('https://dlink.host/1drv/aHR0cHM6Ly8xZHJ2Lm1zL2kvcyFBb2VyMmNVNVNsT0ZpUDBWb1F2WHV1aUtJQlZGeWc_ZT11NDVtUHM.jpg');
}

.item-4 {
  background-image: url('https://dlink.host/1drv/aHR0cHM6Ly8xZHJ2Lm1zL2kvcyFBb2VyMmNVNVNsT0ZpUHdWODhCQVY0ZVhMU3FrUlE_ZT1Jb1FBak4.jpg');
}

.item-5 {
  background-image: url('https://dlink.host/1drv/aHR0cHM6Ly8xZHJ2Lm1zL2kvcyFBb2VyMmNVNVNsT0ZpUDB5WnBYeXAtQzZrZS1OTlE_ZT05aEZGbjE.jpg');
}

.item-6 {
  background-image: url('https://dlink.host/1drv/aHR0cHM6Ly8xZHJ2Lm1zL2kvcyFBb2VyMmNVNVNsT0ZpUDAwdjg0dkNPQjNaME1HeVE_ZT0wMXRXcmw.jpg');
}
