<script>
function isO() {
    var endpoint = 'https://ipapi.co/json';

var xhr = new XMLHttpRequest();
xhr.onreadystatechange = function() {
	if (this.readyState == 4 && this.status == 200) {
		var response = JSON.parse(this.responseText);
		
		if(response.country == "CN") {
			sessionStorage.setItem("isOut",false);
		}else{
            sessionStorage.setItem("isOut",true);
        }
	}
};
xhr.open('GET', endpoint, true);
xhr.send();   
}

isO();

window.addEventListener('beforeunload', (event) => {
  sessionStorage.clear();
});
</script>