@font-face {
    font-family: "cjpxk";
    src: url(https://api.rainsin.cn/FZZJ-CJPXKJW.woff2);
}

@font-face {
    font-family: "cjpxk主";
    src: url(https://dlink.host/1drv/aHR0cHM6Ly8xZHJ2Lm1zL3UvcyFBb2VyMmNVNVNsT0ZpUDA1cWRWV0twZHlrWjZ3bUE_ZT1YdE1VZTM.woff2);
}

@font-face {
    font-family: "cjpxk备";
    src: url(/assets/post/nian/FZZJ-CJPXKJW.woff2);
}

.poem-box{
    font-family: "cjpxk主", "cjpxk", "cjpxk备";
    width: 100%;
    padding: 20px;
    border: var(--box-border);
    background: var(--box-bg);
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.poem-box div {
    display: inline-flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}