.gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    aspect-ratio: 1/0.5;
}

.item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.8s ease;
}

.item:hover {
    flex: 7;
}

.item-1 {
    background-image: url('https://source.rainsin.cn/%E5%86%99%E7%9C%9F/banner/c%20%2835%29.webp');
}

.item-2 {
    background-image: url('https://source.rainsin.cn/%E5%86%99%E7%9C%9F/banner/c%20%2830%29.webp');
}

.item-3 {
    background-image: url('https://source.rainsin.cn/%E5%86%99%E7%9C%9F/banner/c%20%285%29.webp');
}

.item-4 {
    background-image: url('https://source.rainsin.cn/%E5%86%99%E7%9C%9F/banner/C%20%2839%29.webp');
}

.item-5 {
    background-image: url('https://source.rainsin.cn/%E5%86%99%E7%9C%9F/banner/C%20%2837%29.webp');
}

.item-6 {
    background-image: url('https://source.rainsin.cn/%E5%86%99%E7%9C%9F/banner/photo_2022-09-16_13-02-49.webp');
}

.item-7 {
    background-image: url('https://source.rainsin.cn/%E5%86%99%E7%9C%9F/banner/c%20%282%29.webp');
}

.item-8 {
    background-image: url('https://source.rainsin.cn/%E5%86%99%E7%9C%9F/banner/c%20%288%29.webp');
}

.item-9 {
    background-image: url('https://source.rainsin.cn/%E5%86%99%E7%9C%9F/banner/c%20%289%29.webp');
}

.item-10 {
    background-image: url('https://source.rainsin.cn/%E5%86%99%E7%9C%9F/banner/c%20%2844%29.webp');
}

.item-11 {
    background-image: url('https://source.rainsin.cn/%E5%86%99%E7%9C%9F/banner/c%20%2873%29.webp');
}

.item-12 {
    background-image: url('https://source.rainsin.cn/%E5%86%99%E7%9C%9F/banner/c%20%2829%29.webp');
}