.gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    aspect-ratio: 1/0.5;
}

.item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.8s ease;
}

.item:hover {
    flex: 7;
}

.item-7 {
    background-image: url('https://file.rainsin.cn/%E5%86%99%E7%9C%9F/%E5%86%99%E7%9C%9F/c%20(2).webp');
}

.item-8 {
    background-image: url('https://file.rainsin.cn/%E5%86%99%E7%9C%9F/%E5%86%99%E7%9C%9F/c%20(8).webp');
}

.item-9 {
    background-image: url('https://file.rainsin.cn/%E5%86%99%E7%9C%9F/%E5%86%99%E7%9C%9F/c%20(9).webp');
}

.item-10 {
    background-image: url('https://file.rainsin.cn/%E5%86%99%E7%9C%9F/%E5%86%99%E7%9C%9F/c%20(44).webp');
}

.item-11 {
    background-image: url('https://file.rainsin.cn/%E5%86%99%E7%9C%9F/%E5%86%99%E7%9C%9F/c%20(73).webp');
}

.item-12 {
    background-image: url('https://file.rainsin.cn/%E5%86%99%E7%9C%9F/%E5%86%99%E7%9C%9F/c%20(29).webp');
}