.gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    aspect-ratio: 1/0.5;
}

.item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.8s ease;
}

.item:hover {
    flex: 7;
}

.item-1 {
    background-image: url('https://file.rainsin.cn/d/blog/img/post/%E5%B9%B4%E5%B9%B4/c%20(35).webp'),url('https://mypan.cpolar.io/d/blog/img/post/%E5%B9%B4%E5%B9%B4/c%20(35).webp');
}

.item-2 {
    background-image: url('https://file.rainsin.cn/d/blog/img/post/%E5%B9%B4%E5%B9%B4/c%20(30).webp'),url('https://mypan.cpolar.io/d/blog/img/post/%E5%B9%B4%E5%B9%B4/c%20(30).webp');
}

.item-3 {
    background-image: url('https://file.rainsin.cn/d/blog/img/post/%E5%B9%B4%E5%B9%B4/c%20(5).jpg'),url('https://mypan.cpolar.io/d/blog/img/post/%E5%B9%B4%E5%B9%B4/c%20(5).jpg');
}

.item-4 {
    background-image: url('https://file.rainsin.cn/d/blog/img/post/%E5%B9%B4%E5%B9%B4/C%20(39).webp'),url('https://mypan.cpolar.io/d/blog/img/post/%E5%B9%B4%E5%B9%B4/C%20(39).webp');
}

.item-5 {
    background-image: url('https://file.rainsin.cn/d/blog/img/post/%E5%B9%B4%E5%B9%B4/C%20(37).webp'),url('https://mypan.cpolar.io/d/blog/img/post/%E5%B9%B4%E5%B9%B4/C%20(37).webp');
}

.item-6 {
    background-image: url('https://file.rainsin.cn/d/blog/img/post/%E5%B9%B4%E5%B9%B4/photo_2022-09-16_13-02-49.jpg'),url('https://mypan.cpolar.io/d/blog/img/post/%E5%B9%B4%E5%B9%B4/photo_2022-09-16_13-02-49.jpg');
}